In [10]:
url = "http://vps-40d69db1.vps.ovh.ca:23004/api/TradeReals/resultadoPorMes?meses=24"

In [11]:
import requests
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from datetime import datetime

In [12]:
r = requests.get(url)
j = r.json()
df = pd.DataFrame.from_dict(j)

In [13]:
df.head()

    ano  mes  lucroPrejuizo
0  2022    3            0.0
1  2022    2          183.0
2  2022    1            0.0
3  2021   12         -190.0
4  2021   11         -136.0

# Totais Anos

In [14]:
df.groupby(df['ano']).sum('lucroPrejuizo')

      mes  lucroPrejuizo
ano
2021   78        -605.86
2022    6         183.00