In [22]:
import pandas as pd
import numpy as np

## Timestamp

### um ponto no tempo

In [2]:
pd.Timestamp('9/1/2019 10:05AM')

Timestamp('2019-09-01 10:05:00')

In [3]:
pd.Timestamp(2022,2,28,19,49)

Timestamp('2022-02-28 19:49:00')

In [4]:
pd.Timestamp(2022,2,28,19,49).isoweekday()

1

## Periodo

### Um espa√ßo no tempo

In [6]:
p1 = pd.Period('2/2022')

In [7]:
p1

Period('2022-02', 'M')

In [8]:
p1 + 5

Period('2022-07', 'M')

In [9]:
p2 = pd.Period('28/2/2022')
p2

Period('2022-02-28', 'D')

In [10]:
p2 - 60

Period('2021-12-30', 'D')

### DatetimeIndex e PeriodIndex

In [13]:
t1 = pd.Series(list('abc'), [pd.Timestamp('2022-02-28'),pd.Timestamp('2022-02-27'),pd.Timestamp('2022-02-26')])

In [14]:
t1

2022-02-28    a
2022-02-27    b
2022-02-26    c
dtype: object

In [15]:
type(t1.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [17]:
t2 = pd.Series(list('def'), [pd.Period('2022-02'),pd.Period('2022-03'),pd.Period('2022-04')])
t2

2022-02    d
2022-03    e
2022-04    f
Freq: M, dtype: object

In [18]:
type(t2.index)

pandas.core.indexes.period.PeriodIndex

### Convertendo para DateTime

In [27]:
d1 = ['2 June 2013','Aug 29, 2014', '2015-06-06' , '7/12/16']

ts3 = pd.DataFrame(np.random.randint(10,100,(4,2)) , index=d1, columns=list('ab'))
ts3

               a   b
2 June 2013   62  25
Aug 29, 2014  86  94
2015-06-06    83  39
7/12/16       98  67

In [30]:
ts3.index = pd.to_datetime(ts3.index)
ts3

             a   b
2013-06-02  62  25
2014-08-29  86  94
2015-06-06  83  39
2016-07-12  98  67

In [31]:
pd.to_datetime('4.7.12', dayfirst=True)

Timestamp('2012-07-04 00:00:00')

### Timedelta

In [33]:
pd.Timestamp('9/3/2016') - pd.Timestamp('9/1/2016')

Timedelta('2 days 00:00:00')

In [34]:
pd.Timestamp('9/2/2016 8:10AM') + pd.Timedelta('12D 3H')

Timestamp('2016-09-14 11:10:00')

### Offset

In [35]:
pd.Timestamp('2/3/2022').weekday()

3

In [39]:
pd.Timestamp('2/3/2022') + pd.offsets.Week()

Timestamp('2022-02-10 00:00:00')

In [40]:
pd.Timestamp('2/3/2022') + pd.offsets.MonthEnd()

Timestamp('2022-02-28 00:00:00')