In [1]:
import pandas as pd

In [2]:
staff_df = pd.DataFrame([ {'Name' : 'Kelly' , 'Role' : 'Diretor de RH'},
                          {'Name' : 'Sally' , 'Role' : 'Course liasion'},
                          {'Name' : 'James' , 'Role' : 'Grader'}
                        ])
staff_df = staff_df.set_index('Name')

print(staff_df.head())

                 Role
Name
Kelly   Diretor de RH
Sally  Course liasion
James          Grader

In [3]:
student_df = pd.DataFrame([ {'Name' : 'James' , 'Scholl' : 'Business'},
                            {'Name' : 'Mike' , 'Scholl' : 'Law'},
                            {'Name' : 'Sally' , 'Scholl' : 'Engineering'}
                          ])
student_df = student_df.set_index('Name')

print(student_df.head())

            Scholl
Name
James     Business
Mike           Law
Sally  Engineering

## Possui Todos

In [4]:
pd.merge(staff_df,student_df, how='outer' , left_index=True, right_index=True)

                 Role       Scholl
Name
James          Grader     Business
Kelly   Diretor de RH          NaN
Mike              NaN          Law
Sally  Course liasion  Engineering

## Interseção

In [5]:
pd.merge(staff_df,student_df, how='inner' , left_index=True, right_index=True)

                 Role       Scholl
Name
Sally  Course liasion  Engineering
James          Grader     Business

## Quem tem Role

In [6]:
pd.merge(staff_df,student_df, how='left' , left_index=True, right_index=True)

                 Role       Scholl
Name
Kelly   Diretor de RH          NaN
Sally  Course liasion  Engineering
James          Grader     Business

## Quem tem Scholl

In [10]:
pd.merge(staff_df,student_df, how='right' , left_index=True, right_index=True)

                 Role       Scholl
Name
James          Grader     Business
Mike              NaN          Law
Sally  Course liasion  Engineering