In [2]:
import pandas as pd
import numpy as np

# Transformando list em Series - Strings

In [10]:
alunos = ['Alice' , 'Jack' , 'Molly']

In [11]:
pd.Series(alunos)

0    Alice
1     Jack
2    Molly
dtype: object

In [12]:
type(alunos)

list

In [13]:
serie = pd.Series(alunos)
type(serie)

pandas.core.series.Series

In [14]:
serie.index

RangeIndex(start=0, stop=3, step=1)

In [16]:
type(serie.index)

pandas.core.indexes.range.RangeIndex

### Serie de object

In [11]:
serie

0    Alice
1     Jack
2    Molly
dtype: object

# Transformando list em Series - Números

In [6]:
numeros = [10, 20, 34]

In [7]:
type(numeros)

list

In [9]:
serie2 = pd.Series(numeros)
type(serie2)

pandas.core.series.Series

### Serie de int64

In [10]:
serie2

0    10
1    20
2    34
dtype: int64

### nan

In [3]:
np.nan == None

False

In [4]:
np.nan == np.nan

False

In [5]:
np.isnan(np.nan)

True

### Dicionário para serie

In [7]:
nota_aluno = {'Alice' : 'Física' , 'Jack' : 'Química' , 'Molly' : 'Inglês'}
s = pd.Series(nota_aluno)
s

Alice     Física
Jack     Química
Molly     Inglês
dtype: object

In [8]:
type(nota_aluno)

dict

In [9]:
s.index

Index(['Alice', 'Jack', 'Molly'], dtype='object')

In [15]:
type(s.index)

pandas.core.indexes.base.Index