# Mar/Abr/Mai - 2022

In [13]:
url = "http://vps-40d69db1.vps.ovh.ca:23002/api/CotacaoIntradayAcaoResultadoValors/obtemDatasPorDataGrupoLimite?diaInicioNum=20220301&diaFinalNum=20220531&grupoAcaoId=12&limiteDiaRegra=260"

In [14]:
import requests
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from datetime import datetime

In [15]:
r = requests.get(url)
j = r.json()
df = pd.DataFrame.from_dict(j)

In [16]:
df.head()

,anoMesNum,ticker,codigoRegraProjecao,target,stop,totalLucro,totalPrejuizo,mediaDias
0,202203,ABEV3,t09s15vy,0.09,0.15,15,85,13.3400
1,202203,ABEV3,t10s15vy,0.10,0.15,14,85,13.5455
2,202203,ABEV3,t10s17vy,0.10,0.17,59,35,18.6596
3,202203,ABEV3,t12s15vy,0.12,0.15,28,85,16.4248
4,202203,ABEV3,t12s17vy,0.12,0.17,7,35,13.7143

In [17]:
def soma(linha):
    linha['total'] = linha['totalLucro'] + linha['totalPrejuizo']
    return linha

In [18]:
df = df.apply(soma, axis='columns')

In [19]:
df.head()

,anoMesNum,ticker,codigoRegraProjecao,target,stop,totalLucro,totalPrejuizo,mediaDias,total
0,202203,ABEV3,t09s15vy,0.09,0.15,15,85,13.3400,100
1,202203,ABEV3,t10s15vy,0.10,0.15,14,85,13.5455,99
2,202203,ABEV3,t10s17vy,0.10,0.17,59,35,18.6596,94
3,202203,ABEV3,t12s15vy,0.12,0.15,28,85,16.4248,113
4,202203,ABEV3,t12s17vy,0.12,0.17,7,35,13.7143,42

In [20]:
print(df['anoMesNum'].unique())

[202203 202204 202205]

# Maio

### Ver se est√° atualizando

In [25]:
dfMaio = df[(df['anoMesNum'] == 202205)]
df1 = dfMaio[(df['codigoRegraProjecao'] == 't10s15vy')]
df1.head()

/tmp/ipykernel_1561328/872513855.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df1 = dfMaio[(df['codigoRegraProjecao'] == 't10s17vy')]

,anoMesNum,ticker,codigoRegraProjecao,target,stop,totalLucro,totalPrejuizo,mediaDias,total
768,202205,AERI3,t10s17vy,0.1,0.17,144,5,4.8322,149
771,202205,ALPA4,t10s17vy,0.1,0.17,46,12,7.3448,58
774,202205,ALSO3,t10s17vy,0.1,0.17,20,0,5.0500,20
776,202205,AMAR3,t10s17vy,0.1,0.17,54,83,6.7007,137
779,202205,ANIM3,t10s17vy,0.1,0.17,22,54,5.6316,76

In [31]:
dfMaio.groupby('codigoRegraProjecao').count()

,anoMesNum,ticker,target,stop,totalLucro,totalPrejuizo,mediaDias,total
codigoRegraProjecao,,,,,,,,
t10s17vy,63,63,63,63,63,63,63,63
t12s15vy,31,31,31,31,31,31,31,31
t15s15vy,4,4,4,4,4,4,4,4

In [28]:
df1 = dfMaio[(df['codigoRegraProjecao'] == 't10s15vy')]

/tmp/ipykernel_1561328/3830209898.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df1 = dfMaio[(df['codigoRegraProjecao'] == 't10s15vy')]

In [29]:
print(len(df1))

0

In [22]:
dfSimplesMaio = dfMaio.groupby('ticker').sum(['totalLucro', 'totalPrejuizo'])

## Melhores para Venda - Por Prejuizo

In [23]:
dfRank1 = dfSimplesMaio.sort_values(by='totalPrejuizo', ascending=True)
dfRank1.head(15)

        anoMesNum  target  stop  totalLucro  totalPrejuizo  mediaDias  total
ticker
GOAU4      202205    0.10  0.17           6              0     3.0000      6
MRFG3      202205    0.10  0.17          49              0     3.4286     49
LIGT3      202205    0.10  0.17          82              0     5.9146     82
JBSS3      202205    0.10  0.17           3              0     8.0000      3
HAPV3      404410    0.22  0.32         332              0    10.6265    332
MRVE3      202205    0.10  0.17          40              0     8.9750     40
MULT3      202205    0.10  0.17           3              0     7.0000      3
GGBR4      202205    0.10  0.17           3              0     3.0000      3
EMBR3      404410    0.22  0.32         286              0    17.8834    286
PCAR3      202205    0.10  0.17          20              0    11.8000     20
CSMG3      202205    0.10  0.17           2              0     4.5000      2
PRIO3      202205    0.10  0.17          35              0     3.8286     35
PTBL3      202205    0.10  0.17           4              0     2.0000      4
RADL3      202205    0.10  0.17          37              0     8.5676     37
CRFB3      202205    0.10  0.17           2              0     6.0000      2

## Melhores para Venda - Por Lucro

In [24]:
dfRank2 = dfSimplesMaio.sort_values(by='totalLucro', ascending=False)
dfRank2.head(15)

        anoMesNum  target  stop  totalLucro  totalPrejuizo  mediaDias  total
ticker
AERI3      606615    0.37  0.47         339             41    16.3848    380
HAPV3      404410    0.22  0.32         332              0    10.6265    332
EMBR3      404410    0.22  0.32         286              0    17.8834    286
CVCB3      404410    0.22  0.32         264            102    12.7131    366
BPAN4      404410    0.22  0.32         188              0    21.2663    188
CSNA3      404410    0.22  0.32         174            114    12.4544    288
QUAL3      202205    0.10  0.17         157              4     5.2671    161
MGLU3      202205    0.10  0.17         152              7     4.1635    159
BEEF3      404410    0.22  0.32         130              0    14.3924    130
ECOR3      404410    0.22  0.32         121            219    13.0513    340
LWSA3      202205    0.10  0.17         105             97     3.6584    202
CSAN3      404410    0.22  0.32         100              2     9.4499    102
USIM5      202205    0.10  0.17          83              9     5.2391     92
SULA11     202205    0.10  0.17          82              0     6.1585     82
AMAR3      606615    0.37  0.47          82            301    22.0376    383

# Abril

In [ ]:
dfAbril = df[(df['anoMesNum'] == 202204)]
dfAbril.head()