# Mar/Abr/Mai - 2022

In [1]:
url = "http://vps-40d69db1.vps.ovh.ca:23002/api/CotacaoIntradayAcaoResultadoValors/obtemDatasPorDataGrupoLimite?diaInicioNum=20220301&diaFinalNum=20220531&grupoAcaoId=12&limiteDiaRegra=260"

In [16]:
import requests
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from datetime import datetime

In [17]:
r = requests.get(url)
j = r.json()
df = pd.DataFrame.from_dict(j)

In [4]:
df.head()

,anoMesNum,ticker,codigoRegraProjecao,target,stop,totalLucro,totalPrejuizo,mediaDias
0,202203,ABEV3,t09s15vy,0.09,0.15,15,85,13.3400
1,202203,ABEV3,t10s15vy,0.10,0.15,14,85,13.5455
2,202203,ABEV3,t10s17vy,0.10,0.17,14,35,12.5714
3,202203,ABEV3,t12s17vy,0.12,0.17,7,35,13.7143
4,202203,ABEV3,t15s12vy,0.15,0.12,0,147,13.9660

In [19]:
def soma(linha):
    linha['total'] = linha['totalLucro'] + linha['totalPrejuizo']
    return linha

In [20]:
df = df.apply(soma, axis='columns')

In [14]:
df.head()

,anoMesNum,ticker,codigoRegraProjecao,target,stop,totalLucro,totalPrejuizo,mediaDias,total
0,202203,ABEV3,t09s15vy,0.09,0.15,15,85,13.3400,100
1,202203,ABEV3,t10s15vy,0.10,0.15,14,85,13.5455,99
2,202203,ABEV3,t10s17vy,0.10,0.17,14,35,12.5714,49
3,202203,ABEV3,t12s17vy,0.12,0.17,7,35,13.7143,42
4,202203,ABEV3,t15s12vy,0.15,0.12,0,147,13.9660,147

In [21]:
print(df['anoMesNum'].unique())

[202203 202204]

# Maio

### Ver se est√° atualizando

In [6]:
dfMaio = df[(df['anoMesNum'] == 202205)]
dfMaio.head()

Empty DataFrame
Columns: [anoMesNum, ticker, codigoRegraProjecao, target, stop, totalLucro, totalPrejuizo, mediaDias]
Index: []

# Abril

In [22]:
dfAbril = df[(df['anoMesNum'] == 202204)]
dfAbril.head()

,anoMesNum,ticker,codigoRegraProjecao,target,stop,totalLucro,totalPrejuizo,mediaDias,total
414,202204,AERI3,t09s15vy,0.09,0.15,114,0,4.9825,114
415,202204,AERI3,t10s15vy,0.10,0.15,110,0,5.2818,110
416,202204,AERI3,t10s17vy,0.10,0.17,102,0,5.3431,102
417,202204,AERI3,t12s17vy,0.12,0.17,104,0,6.0288,104
418,202204,AERI3,t15s12vy,0.15,0.12,90,0,7.3778,90