# Periodo de 6 meses --> nov, dez, jan, fev, mar, abr

In [1]:
url = "http://vps-40d69db1.vps.ovh.ca:23002/api/CotacaoIntradayAcaoResultadoValors/obtemDatasPorDataGrupoLimite?diaInicioNum=20211101&diaFinalNum=20220430&grupoAcaoId=12&limiteDiaRegra=260"

In [2]:
import requests
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from datetime import datetime

In [3]:
r = requests.get(url)
j = r.json()
df = pd.DataFrame.from_dict(j)

In [4]:
df.head()

,anoMesNum,ticker,codigoRegraProjecao,target,stop,totalLucro,totalPrejuizo,mediaDias
0,202111,ABEV3,t09s15vy,0.09,0.15,300,0,15.0833
1,202111,ABEV3,t10s15vy,0.10,0.15,300,0,17.1533
2,202111,ABEV3,t10s17vy,0.10,0.17,300,0,17.1533
3,202111,ABEV3,t12s17vy,0.12,0.17,300,0,25.0000
4,202111,ABEV3,t15s12vy,0.15,0.12,300,0,38.1633

# Escolhendo uma combinação de mes/regra_projecao

In [8]:
dfMes = df[df['anoMesNum']==20211 && df['codigoRegraProjecao']=='t10s17vy']

SyntaxError: invalid syntax (2668731116.py, line 1)