# Periodo de 6 meses --> nov, dez, jan, fev, mar, abr

In [19]:
url = "http://vps-40d69db1.vps.ovh.ca:23002/api/CotacaoIntradayAcaoResultadoValors/obtemDatasPorDataGrupoLimite?diaInicioNum=20211101&diaFinalNum=20220430&grupoAcaoId=12&limiteDiaRegra=260"

In [20]:
import requests
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from datetime import datetime

In [21]:
r = requests.get(url)
j = r.json()
df = pd.DataFrame.from_dict(j)

In [22]:
df.head()

,anoMesNum,ticker,codigoRegraProjecao,target,stop,totalLucro,totalPrejuizo,mediaDias
0,202111,ABEV3,t09s15vy,0.09,0.15,300,0,15.0833
1,202111,ABEV3,t10s15vy,0.10,0.15,300,0,17.1533
2,202111,ABEV3,t10s17vy,0.10,0.17,300,0,17.1533
3,202111,ABEV3,t12s17vy,0.12,0.17,300,0,25.0000
4,202111,ABEV3,t15s12vy,0.15,0.12,300,0,38.1633

In [27]:
df['codigoRegraProjecao'].unique()

array(['t09s15vy', 't10s15vy', 't10s17vy', 't12s17vy', 't15s12vy'],
      dtype=object)

# Juntando e Rankeando

In [23]:
dfSimples = df.filter(items=['ticker','totalLucro' , 'totalPrejuizo'])

In [24]:
dfSimples = dfSimples.groupby('ticker').sum(['totalLucro', 'totalPrejuizo'])

In [30]:
dfRank = dfSimples.sort_values(by='totalPrejuizo', ascending=True)

In [31]:
dfRank.head(15)

        totalLucro  totalPrejuizo
ticker
MRFG3         5749            348
MYPK3         6180            362
ABEV3         4903            387
JBSS3         1432            495
AERI3         7269            613
RADL3         3299            626
ALPA4         7239            703
NEOE3         2630            985
FLRY3         5850           1036
ECOR3         5559           1311
BRKM5         4667           1371
BRML3         4295           1488
EMBR3         5735           1608
GOAU4         4234           1656
HAPV3         5755           1695

# Testando os Dados

In [29]:
df.head()

,anoMesNum,ticker,codigoRegraProjecao,target,stop,totalLucro,totalPrejuizo,mediaDias
0,202111,ABEV3,t09s15vy,0.09,0.15,300,0,15.0833
1,202111,ABEV3,t10s15vy,0.10,0.15,300,0,17.1533
2,202111,ABEV3,t10s17vy,0.10,0.17,300,0,17.1533
3,202111,ABEV3,t12s17vy,0.12,0.17,300,0,25.0000
4,202111,ABEV3,t15s12vy,0.15,0.12,300,0,38.1633

In [35]:
dfMes = df[(df['anoMesNum']==202111)]

In [36]:
dfMes.head()

,anoMesNum,ticker,codigoRegraProjecao,target,stop,totalLucro,totalPrejuizo,mediaDias
0,202111,ABEV3,t09s15vy,0.09,0.15,300,0,15.0833
1,202111,ABEV3,t10s15vy,0.10,0.15,300,0,17.1533
2,202111,ABEV3,t10s17vy,0.10,0.17,300,0,17.1533
3,202111,ABEV3,t12s17vy,0.12,0.17,300,0,25.0000
4,202111,ABEV3,t15s12vy,0.15,0.12,300,0,38.1633