# Periodo de 6 meses --> nov, dez, jan, fev, mar, abr

In [37]:
url = "http://vps-40d69db1.vps.ovh.ca:23002/api/CotacaoIntradayAcaoResultadoValors/obtemDatasPorDataGrupoLimite?diaInicioNum=20220101&diaFinalNum=20220430&grupoAcaoId=12&limiteDiaRegra=260"

In [38]:
import requests
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from datetime import datetime

In [39]:
r = requests.get(url)
j = r.json()
df = pd.DataFrame.from_dict(j)

In [40]:
df.head()

,anoMesNum,ticker,codigoRegraProjecao,target,stop,totalLucro,totalPrejuizo,mediaDias
0,202201,ABEV3,t09s15vy,0.09,0.15,300,0,33.0833
1,202201,ABEV3,t10s15vy,0.10,0.15,268,0,34.2649
2,202201,ABEV3,t10s17vy,0.10,0.17,268,0,34.2649
3,202201,ABEV3,t12s17vy,0.12,0.17,161,0,35.0870
4,202201,ABEV3,t15s12vy,0.15,0.12,8,0,38.3750

In [41]:
df['codigoRegraProjecao'].unique()

array(['t09s15vy', 't10s15vy', 't10s17vy', 't12s17vy', 't15s12vy'],
      dtype=object)

# Juntando e Rankeando

In [42]:
dfSimples = df.filter(items=['ticker','totalLucro' , 'totalPrejuizo'])

In [43]:
dfSimples = dfSimples.groupby('ticker').sum(['totalLucro', 'totalPrejuizo'])

In [53]:
dfRank1 = dfSimples.sort_values(by='totalPrejuizo', ascending=True)

In [54]:
dfRank1.head(20)

        totalLucro  totalPrejuizo
ticker
MYPK3         3377             90
BRKM5         2813            150
JBSS3          233            173
EMBR3         4024            244
MRFG3         2961            248
ABEV3         1838            387
USIM5         3800            460
GGBR4         2536            487
BBDC4         1035            514
GOAU4         2420            518
SUZB3         2889            521
RADL3          443            604
AERI3         4202            605
FLRY3         3171            640
ALPA4         4189            678
NEOE3           29            687
PETR4         1249            770
KLBN11        2577            784
BRFS3         4044            827
BRML3         1797            911

In [55]:
dfRank2 = dfSimples.sort_values(by='totalLucro', ascending=False)

In [56]:
dfRank2.head(20)

        totalLucro  totalPrejuizo
ticker
AERI3         4202            605
ALPA4         4189            678
BRFS3         4044            827
EMBR3         4024            244
USIM5         3800            460
YDUQ3         3722           1454
MGLU3         3578           1270
LWSA3         3435           1461
ANIM3         3409           1625
MYPK3         3377             90
HAPV3         3283           1092
AMAR3         3244           1611
FLRY3         3171            640
MRVE3         3054           1722
MRFG3         2961            248
LIGT3         2891           1238
SUZB3         2889            521
BRKM5         2813            150
QUAL3         2773           1557
EZTC3         2727           1670

# Testando os Dados

In [46]:
df.head()

,anoMesNum,ticker,codigoRegraProjecao,target,stop,totalLucro,totalPrejuizo,mediaDias
0,202201,ABEV3,t09s15vy,0.09,0.15,300,0,33.0833
1,202201,ABEV3,t10s15vy,0.10,0.15,268,0,34.2649
2,202201,ABEV3,t10s17vy,0.10,0.17,268,0,34.2649
3,202201,ABEV3,t12s17vy,0.12,0.17,161,0,35.0870
4,202201,ABEV3,t15s12vy,0.15,0.12,8,0,38.3750

In [47]:
dfMes = df[(df['anoMesNum']==202111)]

In [48]:
dfMes.head()

Empty DataFrame
Columns: [anoMesNum, ticker, codigoRegraProjecao, target, stop, totalLucro, totalPrejuizo, mediaDias]
Index: []