In [1]:
url = "http://vps-40d69db1.vps.ovh.ca:21446/api/CotacaoIntradayAcaoResultadoValors/obtemPorRegraData?idRegra=1&diaNum=20211001"

In [2]:
import requests
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from datetime import datetime

In [3]:
r = requests.get(url)
j = r.json()
df = pd.DataFrame.from_dict(j)

## Piores ( Venda )

In [4]:
dfVenda = df.loc[df['resultado']==-1]

In [5]:
dfVenda.sort_values(by='qtde', ascending=False).head(10)

    ticker  resultado  qtde
65   LREN3         -1   723
72   MRFG3         -1   568
68   LWSA3         -1   568
70   MGLU3         -1   536
78   NTCO3         -1   519
14   BRFS3         -1   440
84   PRIO3         -1   440
56   HAPV3         -1   436
43   EMBR3         -1   430
10  BPAC11         -1   375

## Melhores (Compra)

In [7]:
dfCompra = df.loc[df['resultado']==1]

In [8]:
dfCompra.sort_values(by='qtde', ascending=False).head(10)

     ticker  resultado  qtde
98    SUZB3          1   501
93    RENT3          1   391
44    EMBR3          1   377
55    GOLL4          1   342
107   USIM5          1   316
104   UGPA3          1   300
51    GGBR4          1   297
96   SULA11          1   293
71    MGLU3          1   291
2     ABEV3          1   270

## Casos Interessantes

In [9]:
df.loc[df['ticker']=='EMBR3']

   ticker  resultado  qtde
43  EMBR3         -1   430
44  EMBR3          1   377

In [10]:
df.loc[df['ticker']=='GOLL4']

   ticker  resultado  qtde
54  GOLL4         -1   337
55  GOLL4          1   342

In [11]:
df.loc[df['ticker']=='SUZB3']

   ticker  resultado  qtde
97  SUZB3          0    22
98  SUZB3          1   501

In [12]:
df.loc[df['ticker']=='RENT3']

   ticker  resultado  qtde
91  RENT3         -1   173
92  RENT3          0    12
93  RENT3          1   391

In [13]:
df.loc[df['ticker']=='USIM5']

    ticker  resultado  qtde
105  USIM5         -1   284
106  USIM5          0     2
107  USIM5          1   316

In [14]:
df.loc[df['ticker']=='LREN3']

   ticker  resultado  qtde
65  LREN3         -1   723
66  LREN3          0     1
67  LREN3          1     1

In [15]:
df.loc[df['ticker']=='MRFG3']

   ticker  resultado  qtde
72  MRFG3         -1   568
73  MRFG3          0    15
74  MRFG3          1    20