# Mar√ßo e Abril - 2022

In [1]:
url = "http://vps-40d69db1.vps.ovh.ca:23004/api/CotacaoIntradayAcaoResultadoValors/obtemDatasPorDataGrupoLimite?diaInicioNum=20220301&diaFinalNum=20220430&grupoAcaoId=12&limiteDiaRegra=260"

In [2]:
import requests
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from datetime import datetime

In [3]:
r = requests.get(url)
j = r.json()
df = pd.DataFrame.from_dict(j)

In [4]:
df.head()

,anoMesNum,ticker,codigoRegraProjecao,target,stop,totalLucro,totalPrejuizo,mediaDias
0,202203,ABEV3,t09s15vy,0.09,0.15,15,85,13.3400
1,202203,ABEV3,t10s15vy,0.10,0.15,14,85,13.5455
2,202203,ABEV3,t10s17vy,0.10,0.17,77,35,24.7768
3,202203,ABEV3,t12s15vy,0.12,0.15,28,85,16.4248
4,202203,ABEV3,t12s17vy,0.12,0.17,7,35,13.7143

In [ ]:
def soma(linha):
    linha['total'] = linha['totalLucro'] + linha['totalPrejuizo']
    return linha

In [ ]:
df = df.apply(soma, axis='columns')

# Juntando e Rankeando

In [ ]:
dfSimples = df.filter(items=['ticker','totalLucro' , 'totalPrejuizo'])

In [ ]:
dfSimples = dfSimples.groupby('ticker').sum(['totalLucro', 'totalPrejuizo'])

# Melhores para Venda

In [ ]:
dfRank1 = dfSimples.sort_values(by='totalPrejuizo', ascending=True)

In [ ]:
dfRank1.head(15)

In [ ]:
dfRank2 = dfSimples.sort_values(by='totalLucro', ascending=False)

In [ ]:
dfRank2.head(15)

In [ ]:
dfRank1.head(15).isin(dfRank2.head(15))

# Melhores para Compra

In [ ]:
dfRank1 = dfSimples.sort_values(by='totalPrejuizo', ascending=False)
dfRank1.head(15)