In [1]:
url = "http://vps-40d69db1.vps.ovh.ca:23002/api/CotacaoIntradayAcaoResultadoValors/obtemDatasPorDataGrupoLimite?diaInicioNum=20220301&diaFinalNum=20220430&grupoAcaoId=12&limiteDiaRegra=260"

In [2]:
import requests
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from datetime import datetime

In [3]:
r = requests.get(url)
j = r.json()
df = pd.DataFrame.from_dict(j)

In [4]:
df.head()

,anoMesNum,ticker,codigoRegraProjecao,target,stop,totalLucro,totalPrejuizo,mediaDias
0,202203,ABEV3,t09s15vy,0.09,0.15,15,85,13.3400
1,202203,ABEV3,t10s15vy,0.10,0.15,14,85,13.5455
2,202203,ABEV3,t10s17vy,0.10,0.17,59,35,18.6596
3,202203,ABEV3,t12s15vy,0.12,0.15,28,85,16.4248
4,202203,ABEV3,t12s17vy,0.12,0.17,7,35,13.7143

In [5]:
def soma(linha):
    linha['total'] = linha['totalLucro'] + linha['totalPrejuizo']
    return linha

In [6]:
df = df.apply(soma, axis='columns')

# Juntando e Rankeando

In [7]:
dfSimples = df.filter(items=['ticker','totalLucro' , 'totalPrejuizo'])

In [8]:
dfSimples = dfSimples.groupby('ticker').sum(['totalLucro', 'totalPrejuizo'])

# Melhores para Venda

In [9]:
dfRank1 = dfSimples.sort_values(by='totalPrejuizo', ascending=True)

In [13]:
dfRank1.head(15)

        totalLucro  totalPrejuizo
ticker
FLRY3         1429              0
RADL3           37              0
SULA11        1804              0
BRKM5          737              0
HAPV3         2218              2
USIM5         1372              6
CSMG3          673             12
JBSS3            1             14
CPLE6          301             19
EQTL3          279             19
VALE3          860             28
MRFG3          811             40
SLCE3          141             48
SMTO3            9             60
TAEE11           0             61

In [11]:
dfRank2 = dfSimples.sort_values(by='totalLucro', ascending=False)

In [14]:
dfRank2.head(15)

        totalLucro  totalPrejuizo
ticker
AERI3         2300            488
HAPV3         2218              2
ANIM3         2002            722
ALPA4         1887            790
SULA11        1804              0
YDUQ3         1755            496
EMBR3         1650            288
BRFS3         1603            958
AMAR3         1574            971
CVCB3         1459           1090
FLRY3         1429              0
USIM5         1372              6
LWSA3         1370            601
MGLU3         1322            601
MRVE3         1143            708

In [17]:
dfRank1.head(15).isin(dfRank2.head(15))

        totalLucro  totalPrejuizo
ticker
FLRY3         True           True
RADL3        False          False
SULA11        True           True
BRKM5        False          False
HAPV3         True           True
USIM5         True           True
CSMG3        False          False
JBSS3        False          False
CPLE6        False          False
EQTL3        False          False
VALE3        False          False
MRFG3        False          False
SLCE3        False          False
SMTO3        False          False
TAEE11       False          False

# Melhores para Compra

In [18]:
dfRank1 = dfSimples.sort_values(by='totalPrejuizo', ascending=False)
dfRank1.head(15)

        totalLucro  totalPrejuizo
ticker
CIEL3          285           2069
ELET3           67           2014
ELET6           28           1994
BEEF3          153           1883
COGN3          566           1556
SBSP3            0           1296
CYRE3          948           1272
CRFB3          357           1269
HYPE3           18           1178
GOLL4          906           1157
BKBR3          696           1135
MOVI3           97           1095
ENEV3          451           1094
CVCB3         1459           1090
BBSE3            0           1083