## 1 Ano de dados

In [1]:
url = "http://vps-40d69db1.vps.ovh.ca:23002/api/CotacaoIntradayAcaoResultadoValors/obtemDatasPorDataGrupoLimite?diaInicioNum=20210301&diaFinalNum=20220228&grupoAcaoId=12&limiteDiaRegra=260"

In [2]:
import requests
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from datetime import datetime

In [3]:
r = requests.get(url)
j = r.json()
df = pd.DataFrame.from_dict(j)

In [4]:
df.head()

,anoMesNum,ticker,codigoRegraProjecao,target,stop,totalLucro,totalPrejuizo,mediaDias
0,202103,ABEV3,t09s15vy,0.09,0.15,0,345,41.9449
1,202103,ABEV3,t10s15vy,0.10,0.15,0,345,41.9449
2,202103,ABEV3,t10s17vy,0.10,0.17,0,345,47.0261
3,202103,ABEV3,t12s15vy,0.12,0.15,0,345,41.9449
4,202103,ABEV3,t12s17vy,0.12,0.17,0,345,47.0261

## Cálculo de Saldo

In [5]:
df['saldo'] =(df['target'] * df['totalLucro']) - (df['stop'] * df['totalPrejuizo'])

In [6]:
df.head()

,anoMesNum,ticker,codigoRegraProjecao,target,stop,totalLucro,totalPrejuizo,mediaDias,saldo
0,202103,ABEV3,t09s15vy,0.09,0.15,0,345,41.9449,-51.75
1,202103,ABEV3,t10s15vy,0.10,0.15,0,345,41.9449,-51.75
2,202103,ABEV3,t10s17vy,0.10,0.17,0,345,47.0261,-58.65
3,202103,ABEV3,t12s15vy,0.12,0.15,0,345,41.9449,-51.75
4,202103,ABEV3,t12s17vy,0.12,0.17,0,345,47.0261,-58.65

In [8]:
dfABEV = df[df['ticker'] == 'ABEV3']

In [9]:
dfABEV

,anoMesNum,ticker,codigoRegraProjecao,target,stop,totalLucro,totalPrejuizo,mediaDias,saldo
0,202103,ABEV3,t09s15vy,0.09,0.15,0,345,41.9449,-51.75
1,202103,ABEV3,t10s15vy,0.10,0.15,0,345,41.9449,-51.75
2,202103,ABEV3,t10s17vy,0.10,0.17,0,345,47.0261,-58.65
3,202103,ABEV3,t12s15vy,0.12,0.15,0,345,41.9449,-51.75
4,202103,ABEV3,t12s17vy,0.12,0.17,0,345,47.0261,-58.65
...,...,...,...,...,...,...,...,...,...
8582,202202,ABEV3,t12s17vy,0.12,0.17,49,0,10.9388,5.88
8583,202202,ABEV3,t13s17vy,0.13,0.17,53,0,14.1321,6.89
8584,202202,ABEV3,t14s17vy,0.14,0.17,19,0,13.5263,2.66
8585,202202,ABEV3,t15s12vy,0.15,0.12,8,0,13.0000,1.20
8586,202202,ABEV3,t15s15vy,0.15,0.15,8,0,13.0000,1.20

In [16]:
dfAgrupado = df\
        .groupby(['anoMesNum','codigoRegraProjecao','target','stop']).sum(['totalLucro','totalPrejuizo'])\
        .filter(items=['totalLucro','totalPrejuizo'])

In [22]:
dfAgrupado = dfAgrupado.reset_index()

In [23]:
dfAgrupado['saldo'] =(dfAgrupado['target'] * dfAgrupado['totalLucro']) - (dfAgrupado['stop'] * dfAgrupado['totalPrejuizo'])

In [26]:
dfAgrupado['total'] = dfAgrupado['totalLucro'] + dfAgrupado['totalPrejuizo']

In [27]:
dfAgrupado.head(30)

,anoMesNum,codigoRegraProjecao,target,stop,totalLucro,totalPrejuizo,saldo,total
0,202103,t09s15vy,0.09,0.15,8944,13367,-1200.09,22311
1,202103,t10s15vy,0.10,0.15,11571,19637,-1788.45,31208
2,202103,t10s17vy,0.10,0.17,12564,18625,-1909.85,31189
3,202103,t12s15vy,0.12,0.15,10308,20700,-1868.04,31008
4,202103,t12s17vy,0.12,0.17,11295,19571,-1971.67,30866
5,202103,t13s17vy,0.13,0.17,10671,19874,-1991.35,30545
6,202103,t14s17vy,0.14,0.17,10195,20114,-1992.08,30309
7,202103,t15s12vy,0.15,0.12,7663,23244,-1639.83,30907
8,202103,t15s15vy,0.15,0.15,8908,21489,-1887.15,30397
9,202104,t09s15vy,0.09,0.15,9813,9687,-569.88,19500
10,202104,t10s15vy,0.10,0.15,13516,13742,-709.70,27258
11,202104,t10s17vy,0.10,0.17,14862,12365,-615.85,27227
12,202104,t12s15vy,0.12,0.15,12217,14708,-740.16,26925
13,202104,t12s17vy,0.12,0.17,13497,13078,-603.62,26575
14,202104,t13s17vy,0.13,0.17,12929,13276,-576.15,26205
15,202104,t14s17vy,0.14,0.17,12531,13363,-517.37,25894
16,202104,t15s12vy,0.15,0.12,9458,17047,-626.94,26505
17,202104,t15s15vy,0.15,0.15,10918,15217,-644.85,26135
18,202105,t09s15vy,0.09,0.15,11131,9138,-368.91,20269
19,202105,t10s15vy,0.10,0.15,15402,12898,-394.50,28300
20,202105,t10s17vy,0.10,0.17,16819,11472,-268.34,28291
21,202105,t12s15vy,0.12,0.15,14637,13298,-238.26,27935
22,202105,t12s17vy,0.12,0.17,16004,11794,-84.50,27798
23,202105,t13s17vy,0.13,0.17,15731,11906,21.01,27637
24,202105,t14s17vy,0.14,0.17,15467,12005,124.53,27472
25,202105,t15s12vy,0.15,0.12,11114,16725,-339.90,27839
26,202105,t15s15vy,0.15,0.15,13992,13513,71.85,27505
27,202106,t09s15vy,0.09,0.15,17577,2841,1155.78,20418
28,202106,t10s15vy,0.10,0.15,23992,4454,1731.10,28446
29,202106,t10s17vy,0.10,0.17,24536,3857,1797.91,28393