## 1 Ano de dados

In [12]:
url = "http://vps-40d69db1.vps.ovh.ca:23002/api/CotacaoIntradayAcaoResultadoValors/obtemDatasPorDataGrupoLimite?diaInicioNum=20210301&diaFinalNum=20220228&grupoAcaoId=12&limiteDiaRegra=260"

In [13]:
import requests
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from datetime import datetime

In [14]:
r = requests.get(url)
j = r.json()
df = pd.DataFrame.from_dict(j)

In [15]:
df.head()

,anoMesNum,ticker,codigoRegraProjecao,target,stop,totalLucro,totalPrejuizo,mediaDias
0,202103,ABEV3,t10s15vy,0.10,0.15,0,345,41.9449
1,202103,ABEV3,t10s17vy,0.10,0.17,0,345,47.0261
2,202103,ABEV3,t12s15vy,0.12,0.15,0,345,41.9449
3,202103,ABEV3,t12s17vy,0.12,0.17,0,345,47.0261
4,202103,ABEV3,t13s17vy,0.13,0.17,0,345,47.0261

## CÃ¡lculo de Saldo

In [16]:
df['saldo'] =(df['target'] * df['totalLucro']) - (df['stop'] * df['totalPrejuizo'])

In [17]:
df.head()

,anoMesNum,ticker,codigoRegraProjecao,target,stop,totalLucro,totalPrejuizo,mediaDias,saldo
0,202103,ABEV3,t10s15vy,0.10,0.15,0,345,41.9449,-51.75
1,202103,ABEV3,t10s17vy,0.10,0.17,0,345,47.0261,-58.65
2,202103,ABEV3,t12s15vy,0.12,0.15,0,345,41.9449,-51.75
3,202103,ABEV3,t12s17vy,0.12,0.17,0,345,47.0261,-58.65
4,202103,ABEV3,t13s17vy,0.13,0.17,0,345,47.0261,-58.65