In [2]:
import requests
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from datetime import datetime

In [12]:
url2 = "http://vps-40d69db1.vps.ovh.ca:22001/api/RegraProjecaos/tickerPerformance?dataNumInicio=20211101&dataNumFinal=20211231&grupoAcao=Neg-100&codigoRegra=1"

In [13]:
r = requests.get(url2)
j = r.json()
df2 = pd.DataFrame.from_dict(j)
df2.set_index('ticker', inplace=True)

In [14]:
len(df2)

93

In [15]:
dfVenda = df2.sort_values(by='negativos', ascending=False)
dfCompra = df2.sort_values(by='positivos', ascending=False)

In [16]:
compraTop20 = dfCompra.head(20)

        ticks  positivos  negativos  zero
ticker
POSI3     645        429        186     0
USIM5     645        382          0     0
EMBR3     645        361        146     0
VALE3     645        356          0    16
BEEF3     645        315        108    27
LCAM3     645        315        135     8
BRAP4     645        298        259     0
GGBR4     645        287          0    13
RENT3     645        275          1     0
BRKM5     645        272        111     0
GOLL4     645        271        108     0
STBP3     645        265        350     0
CSNA3     645        262          5    36
UGPA3     645        230          0     0
GOAU4     645        223         47     0
SUZB3     645        223          0     0
MGLU3     645        214        353     0
PETR3     645        213          0    26
BPAN4     645        191        376     0
CCRO3     645        180          0     0

In [18]:
dfVenda.head(10)

        ticks  positivos  negativos  zero
ticker
NTCO3     645          3        596     0
CVCB3     645         83        532     0
LREN3     645          0        511     0
WEGE3     645         11        483    21
PCAR3     645          0        482    57
ECOR3     645          3        439    11
BPAC11    645         32        431     1
YDUQ3     645         94        411    30
AZUL4     645         70        403     0
BPAN4     645        191        376     0