# 2021

In [31]:
url = "http://vps-40d69db1.vps.ovh.ca:23002/api/CotacaoIntradayAcaoResultadoValors/obtemDatasPorDataGrupoLimite?diaInicioNum=20210101&diaFinalNum=20211231&grupoAcaoId=12&limiteDiaRegra=260"

In [32]:
import requests
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from datetime import datetime

In [33]:
r = requests.get(url)
j = r.json()
df = pd.DataFrame.from_dict(j)

In [34]:
def soma(linha):
    linha['total'] = linha['totalLucro'] + linha['totalPrejuizo']
    return linha

## Fevereiro - 2021

In [62]:
dfFev = df[(df['anoMesNum'] == 202102)]

In [63]:
dfFev = dfFev.apply(soma, axis='columns').head()

In [64]:
dfFev.head()

,anoMesNum,ticker,codigoRegraProjecao,target,stop,totalLucro,totalPrejuizo,mediaDias,total
440,202102,ABEV3,t09s15vy,0.09,0.15,202,53,20.0196,255
441,202102,ABEV3,t10s15vy,0.10,0.15,173,82,26.0549,255
442,202102,ABEV3,t10s17vy,0.10,0.17,173,82,26.4000,255
443,202102,ABEV3,t12s17vy,0.12,0.17,80,175,46.0863,255
444,202102,ABEV3,t15s12vy,0.15,0.12,16,239,55.5922,255

In [65]:
dfErro = dfFev[dfFev['total']!=255]
dfErro.head()

Empty DataFrame
Columns: [anoMesNum, ticker, codigoRegraProjecao, target, stop, totalLucro, totalPrejuizo, mediaDias, total]
Index: []

## Mar√ßo - 2021

In [66]:
dfMes = df[(df['anoMesNum'] == 202103)]
dfMes = dfMes.apply(soma, axis='columns').head()
dfMes.head()

,anoMesNum,ticker,codigoRegraProjecao,target,stop,totalLucro,totalPrejuizo,mediaDias,total
880,202103,ABEV3,t09s15vy,0.09,0.15,0,345,41.9449,345
881,202103,ABEV3,t10s15vy,0.10,0.15,0,345,41.9449,345
882,202103,ABEV3,t10s17vy,0.10,0.17,0,345,47.0261,345
883,202103,ABEV3,t12s17vy,0.12,0.17,0,345,47.0261,345
884,202103,ABEV3,t15s12vy,0.15,0.12,0,345,35.8348,345

In [67]:
dfErro = dfMes[dfMes['total']!=345]
dfErro.head()

Empty DataFrame
Columns: [anoMesNum, ticker, codigoRegraProjecao, target, stop, totalLucro, totalPrejuizo, mediaDias, total]
Index: []

## Abril - 2021

In [68]:
dfMes = df[(df['anoMesNum'] == 202104)]
dfMes = dfMes.apply(soma, axis='columns').head()
dfMes.head()

,anoMesNum,ticker,codigoRegraProjecao,target,stop,totalLucro,totalPrejuizo,mediaDias,total
1320,202104,ABEV3,t09s15vy,0.09,0.15,4,296,27.8400,300
1321,202104,ABEV3,t10s15vy,0.10,0.15,0,300,28.1067,300
1322,202104,ABEV3,t10s17vy,0.10,0.17,0,300,31.1567,300
1323,202104,ABEV3,t12s17vy,0.12,0.17,0,300,31.1567,300
1324,202104,ABEV3,t15s12vy,0.15,0.12,0,300,22.3133,300

In [69]:
dfErro = dfMes[dfMes['total']!=300]
dfErro.head()

Empty DataFrame
Columns: [anoMesNum, ticker, codigoRegraProjecao, target, stop, totalLucro, totalPrejuizo, mediaDias, total]
Index: []

## Maio - 2021

In [70]:
dfMes = df[(df['anoMesNum'] == 202105)]
dfMes = dfMes.apply(soma, axis='columns').head()
dfMes.head()

,anoMesNum,ticker,codigoRegraProjecao,target,stop,totalLucro,totalPrejuizo,mediaDias,total
1760,202105,ABEV3,t09s15vy,0.09,0.15,160,155,45.8349,315
1761,202105,ABEV3,t10s15vy,0.10,0.15,160,155,47.7016,315
1762,202105,ABEV3,t10s17vy,0.10,0.17,196,119,56.5619,315
1763,202105,ABEV3,t12s17vy,0.12,0.17,196,119,59.5302,315
1764,202105,ABEV3,t15s12vy,0.15,0.12,23,292,16.8000,315

In [71]:
dfErro = dfMes[dfMes['total']!=315]
dfErro.head()

Empty DataFrame
Columns: [anoMesNum, ticker, codigoRegraProjecao, target, stop, totalLucro, totalPrejuizo, mediaDias, total]
Index: []

## Junho - 2021

In [72]:
dfMes = df[(df['anoMesNum'] == 202106)]
dfMes = dfMes.apply(soma, axis='columns').head()
dfMes.head()

,anoMesNum,ticker,codigoRegraProjecao,target,stop,totalLucro,totalPrejuizo,mediaDias,total
2199,202106,ABEV3,t09s15vy,0.09,0.15,315,0,23.3365,315
2200,202106,ABEV3,t10s15vy,0.10,0.15,315,0,25.7556,315
2201,202106,ABEV3,t10s17vy,0.10,0.17,315,0,25.7556,315
2202,202106,ABEV3,t12s17vy,0.12,0.17,315,0,35.8286,315
2203,202106,ABEV3,t15s12vy,0.15,0.12,315,0,59.3714,315

In [73]:
dfErro = dfMes[dfMes['total']!=315]
dfErro.head()

Empty DataFrame
Columns: [anoMesNum, ticker, codigoRegraProjecao, target, stop, totalLucro, totalPrejuizo, mediaDias, total]
Index: []

## Julho - 2021

In [74]:
dfMes = df[(df['anoMesNum'] == 202107)]
dfMes = dfMes.apply(soma, axis='columns').head()
dfMes.head()

,anoMesNum,ticker,codigoRegraProjecao,target,stop,totalLucro,totalPrejuizo,mediaDias,total
2639,202107,ABEV3,t09s15vy,0.09,0.15,315,0,41.7333,315
2640,202107,ABEV3,t10s15vy,0.10,0.15,315,0,46.4159,315
2641,202107,ABEV3,t10s17vy,0.10,0.17,315,0,46.4159,315
2642,202107,ABEV3,t12s17vy,0.12,0.17,315,0,51.9651,315
2643,202107,ABEV3,t15s12vy,0.15,0.12,315,0,85.3841,315

In [75]:
dfErro = dfMes[dfMes['total']!=315]
dfErro.head()

Empty DataFrame
Columns: [anoMesNum, ticker, codigoRegraProjecao, target, stop, totalLucro, totalPrejuizo, mediaDias, total]
Index: []

## Agosto - 2021

In [76]:
dfMes = df[(df['anoMesNum'] == 202108)]
dfMes = dfMes.apply(soma, axis='columns').head()
dfMes.head()

,anoMesNum,ticker,codigoRegraProjecao,target,stop,totalLucro,totalPrejuizo,mediaDias,total
3079,202108,ABEV3,t09s15vy,0.09,0.15,330,0,28.0273,330
3080,202108,ABEV3,t10s15vy,0.10,0.15,330,0,31.7636,330
3081,202108,ABEV3,t10s17vy,0.10,0.17,330,0,31.7636,330
3082,202108,ABEV3,t12s17vy,0.12,0.17,330,0,46.6424,330
3083,202108,ABEV3,t15s12vy,0.15,0.12,329,1,92.1030,330

In [77]:
dfErro = dfMes[dfMes['total']!=330]
dfErro.head()

Empty DataFrame
Columns: [anoMesNum, ticker, codigoRegraProjecao, target, stop, totalLucro, totalPrejuizo, mediaDias, total]
Index: []

## Setembro - 2021

In [78]:
dfMes = df[(df['anoMesNum'] == 202109)]
dfMes = dfMes.apply(soma, axis='columns').head()
dfMes.head()

,anoMesNum,ticker,codigoRegraProjecao,target,stop,totalLucro,totalPrejuizo,mediaDias,total
3519,202109,ABEV3,t09s15vy,0.09,0.15,219,96,32.1651,315
3520,202109,ABEV3,t10s15vy,0.10,0.15,219,96,40.6413,315
3521,202109,ABEV3,t10s17vy,0.10,0.17,284,31,55.3175,315
3522,202109,ABEV3,t12s17vy,0.12,0.17,284,31,77.5619,315
3523,202109,ABEV3,t15s12vy,0.15,0.12,135,180,60.4381,315

In [79]:
dfErro = dfMes[dfMes['total']!=315]
dfErro.head()

Empty DataFrame
Columns: [anoMesNum, ticker, codigoRegraProjecao, target, stop, totalLucro, totalPrejuizo, mediaDias, total]
Index: []

## Outubro - 2021

In [80]:
dfMes = df[(df['anoMesNum'] == 202110)]
dfMes = dfMes.apply(soma, axis='columns').head()
dfMes.head()

,anoMesNum,ticker,codigoRegraProjecao,target,stop,totalLucro,totalPrejuizo,mediaDias,total
3959,202110,ABEV3,t09s15vy,0.09,0.15,30,270,15.6533,300
3960,202110,ABEV3,t10s15vy,0.10,0.15,30,270,15.8100,300
3961,202110,ABEV3,t10s17vy,0.10,0.17,71,229,26.7600,300
3962,202110,ABEV3,t12s17vy,0.12,0.17,71,229,28.0167,300
3963,202110,ABEV3,t15s12vy,0.15,0.12,30,270,16.7433,300

In [81]:
dfErro = dfMes[dfMes['total']!=300]
dfErro.head()

Empty DataFrame
Columns: [anoMesNum, ticker, codigoRegraProjecao, target, stop, totalLucro, totalPrejuizo, mediaDias, total]
Index: []

## Novembro-2021

In [82]:
dfMes = df[(df['anoMesNum'] == 202111)]
dfMes = dfMes.apply(soma, axis='columns').head()
dfMes.head()

,anoMesNum,ticker,codigoRegraProjecao,target,stop,totalLucro,totalPrejuizo,mediaDias,total
4399,202111,ABEV3,t09s15vy,0.09,0.15,300,0,15.0833,300
4400,202111,ABEV3,t10s15vy,0.10,0.15,300,0,17.1533,300
4401,202111,ABEV3,t10s17vy,0.10,0.17,300,0,17.1533,300
4402,202111,ABEV3,t12s17vy,0.12,0.17,300,0,25.0000,300
4403,202111,ABEV3,t15s12vy,0.15,0.12,300,0,38.1633,300

In [83]:
dfErro = dfMes[dfMes['total']!=300]
dfErro.head()

Empty DataFrame
Columns: [anoMesNum, ticker, codigoRegraProjecao, target, stop, totalLucro, totalPrejuizo, mediaDias, total]
Index: []

## Dezembro - 2021

In [84]:
dfMes = df[(df['anoMesNum'] == 202112)]
dfMes = dfMes.apply(soma, axis='columns').head()
dfMes.head()

,anoMesNum,ticker,codigoRegraProjecao,target,stop,totalLucro,totalPrejuizo,mediaDias,total
4838,202112,ABEV3,t09s15vy,0.09,0.15,315,0,27.2889,315
4839,202112,ABEV3,t10s15vy,0.10,0.15,315,0,31.0413,315
4840,202112,ABEV3,t10s17vy,0.10,0.17,315,0,31.0413,315
4841,202112,ABEV3,t12s17vy,0.12,0.17,315,0,45.4984,315
4842,202112,ABEV3,t15s12vy,0.15,0.12,305,0,55.0820,305

In [85]:
dfErro = dfMes[dfMes['total']!=315]
dfErro.head()

,anoMesNum,ticker,codigoRegraProjecao,target,stop,totalLucro,totalPrejuizo,mediaDias,total
4842,202112,ABEV3,t15s12vy,0.15,0.12,305,0,55.082,305