# Jan, Fev, Mar 2021

In [1]:
url = "http://vps-40d69db1.vps.ovh.ca:23002/api/CotacaoIntradayAcaoResultadoValors/obtemDatasPorDataGrupoLimite?diaInicioNum=20210101&diaFinalNum=20210331&grupoAcaoId=12&limiteDiaRegra=260"

In [2]:
import requests
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from datetime import datetime

In [3]:
r = requests.get(url)
j = r.json()
df = pd.DataFrame.from_dict(j)

In [4]:
df.head()

,anoMesNum,ticker,codigoRegraProjecao,target,stop,totalLucro,totalPrejuizo,mediaDias
0,202101,ABEV3,t09s15vy,0.09,0.15,285,0,22.4561
1,202101,ABEV3,t10s15vy,0.10,0.15,285,0,24.2035
2,202101,ABEV3,t10s17vy,0.10,0.17,285,0,24.2035
3,202101,ABEV3,t12s17vy,0.12,0.17,276,9,28.7193
4,202101,ABEV3,t15s12vy,0.15,0.12,180,105,47.4702

# Analisar somente um mÃªs e uma RegraProjecao

In [7]:
#dfJan = df[(df['anoMesNum'] == 202101) & (df['codigoRegraProjecao']=='t10s15vy') ]
dfJan = df[(df['anoMesNum'] == 202101)]

In [8]:
dfJan.head()

,anoMesNum,ticker,codigoRegraProjecao,target,stop,totalLucro,totalPrejuizo,mediaDias
1,202101,ABEV3,t10s15vy,0.1,0.15,285,0,24.2035
6,202101,AERI3,t10s15vy,0.1,0.15,175,110,6.3298
11,202101,ALPA4,t10s15vy,0.1,0.15,285,0,21.1930
16,202101,ALSO3,t10s15vy,0.1,0.15,280,5,25.4491
21,202101,AMAR3,t10s15vy,0.1,0.15,285,0,20.2316

In [10]:
len(dfJan)

88

In [15]:
def soma(linha):
    linha['total'] = linha['totalLucro'] + linha['totalPrejuizo']
    return linha

In [16]:
dfJan.apply(soma, axis='columns').head()

,anoMesNum,ticker,codigoRegraProjecao,target,stop,totalLucro,totalPrejuizo,mediaDias,total
1,202101.0,ABEV3,t10s15vy,0.1,0.15,285.0,0.0,24.2035,285.0
6,202101.0,AERI3,t10s15vy,0.1,0.15,175.0,110.0,6.3298,285.0
11,202101.0,ALPA4,t10s15vy,0.1,0.15,285.0,0.0,21.1930,285.0
16,202101.0,ALSO3,t10s15vy,0.1,0.15,280.0,5.0,25.4491,285.0
21,202101.0,AMAR3,t10s15vy,0.1,0.15,285.0,0.0,20.2316,285.0

In [19]:
dfJan['total'].unique()

array([285.,  nan])

In [20]:
dfErro = dfJan[dfJan['total']!=285]

In [21]:
dfErro.head()

,anoMesNum,ticker,codigoRegraProjecao,target,stop,totalLucro,totalPrejuizo,mediaDias,total
total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN