In [1]:
import numpy as np
from datetime import datetime
import requests
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
url = "http://vps-40d69db1.vps.ovh.ca:23005/api/ExecucaoSimulacaos/melhorValidacaoPeriodoFlatPorTicker?idPeriodo=9&limitePorTicker=3&tipo=V"

In [5]:
r = requests.get(url)
j = r.json()
df = pd.DataFrame.from_dict(j)

In [6]:
df.head()

,simulacaoId,ticker,simulacaoResultado,simulacaoLucro,simulacaoPrejuizo,target,stop,tipo,monitorar,experimentoSimulacaoId,validacaoLucro,validacaoPrejuizo,saldoValidacao
0,10922777,LWSA3,58,3,0,0.16,0.08,V,0,54,0,1,-1
1,10922552,LWSA3,58,3,0,0.16,0.08,V,0,54,0,0,0
2,10922302,LWSA3,58,3,0,0.16,0.08,V,0,54,0,1,-1
3,10855244,ELET3,44,4,0,0.10,0.08,V,1,54,1,1,0
4,10855219,ELET3,44,4,0,0.10,0.08,V,0,54,1,1,0

# As 3 Melhores combinações por ticker - venda (periodo: 9)

In [18]:
print('Quantidade Ticker: %d' % len(df['ticker'].unique()))
print('Quantidade Items: %d' % len(df))
print('Estimada: %d' % (len(df) / 3))

Quantidade Ticker: 49
Quantidade Items: 147
Estimada: 49

In [22]:
dfSaldo = df.groupby('saldoValidacao').count()

In [23]:
dfSaldo = dfSaldo.filter('simulacaoId')
dfSaldo.head()

Empty DataFrame
Columns: []
Index: [-2, -1, 0, 1]