# Período 9

In [1]:
import numpy as np
from datetime import datetime
import requests
import pandas as pd
import matplotlib.pyplot as plt

## Analisando apenas 3 casos por ticker

In [79]:
url = "http://vps-40d69db1.vps.ovh.ca:22001/api/ExecucaoSimulacaos/melhorValidacaoPeriodoFlatPorTicker?idPeriodo=9&limitePorTicker=3"

In [80]:
r = requests.get(url)
j = r.json()
df = pd.DataFrame.from_dict(j)

In [81]:
print('Total de casos: %d'%(len(df)))

Total de casos: 180

In [82]:
dfTicker = df.groupby(['ticker']).size()

In [83]:
dfTarget = df.groupby(['target']).size().to_frame()

In [84]:
print('Total de tickers: %d' % (len(dfTicker)))

Total de tickers: 60

In [85]:
df['saldoValidacao'].unique()

array([ 0., -1.,  1., nan,  2., -2., -3.])

## Casos que não deram certo

In [86]:
dfRuim = df[df['saldoValidacao']<0]

In [87]:
print('Total de casos com erro: %d (%.2f) '%(len(dfRuim) , (100*(len(dfRuim) / len(df)) )))

Total de casos com erro: 50 (27.78)

In [88]:
dfRuimTicker =  dfRuim.groupby(['ticker']).size()

In [89]:
print('Total de ticker com erro: %d (%.2f) '%(len(dfRuimTicker) , (100*(len(dfRuimTicker) / len(dfTicker)) )))

Total de ticker com erro: 20 (33.33)

In [90]:
dfRuim.groupby(['target']).size().to_frame()

         0
target
0.08     1
0.10     3
0.12     9
0.14    13
0.16     8
0.18     4
0.20     7
0.22     5

In [91]:
dfRuim.groupby(['stop']).size().to_frame()

       0
stop
0.06  25
0.08  21
0.10   4

In [92]:
df.groupby(['stop']).size().to_frame()

       0
stop
0.06  72
0.08  93
0.10  12
0.12   3