# Período 9

In [1]:
import numpy as np
from datetime import datetime
import requests
import pandas as pd
import matplotlib.pyplot as plt

## Analisando apenas 3 casos por ticker

In [2]:
url = "http://vps-40d69db1.vps.ovh.ca:23005/api/ExecucaoSimulacaos/melhorValidacaoPeriodoFlatPorTicker?idPeriodo=9&limitePorTicker=3&tipo=V"

In [3]:
r = requests.get(url)
j = r.json()
df = pd.DataFrame.from_dict(j)

In [4]:
print('Total de casos: %d'%(len(df)))

Total de casos: 147

In [5]:
dfTicker = df.groupby(['ticker']).size()

In [6]:
dfTarget = df.groupby(['target']).size().to_frame()

In [7]:
print('Total de tickers: %d' % (len(dfTicker)))

Total de tickers: 49

In [8]:
df['saldoValidacao'].unique()

array([-1,  0,  1, -2])

## Casos que deram certo

## Casos que não deram certo

In [9]:
dfRuim = df[df['saldoValidacao']<0]

In [10]:
print('Total de casos com erro: %d (%.2f) '%(len(dfRuim) , (100*(len(dfRuim) / len(df)) )))

Total de casos com erro: 53 (36.05)

In [11]:
dfRuimTicker =  dfRuim.groupby(['ticker']).size()

In [12]:
print('Total de ticker com erro: %d (%.2f) '%(len(dfRuimTicker) , (100*(len(dfRuimTicker) / len(dfTicker)) )))

Total de ticker com erro: 19 (38.78)

In [105]:
dfRuim.groupby(['target']).size().to_frame()

        0
target
0.10    3
0.12    9
0.14    7
0.16    9
0.18    4
0.20    4
0.22    3

In [13]:
print(dfRuimTicker['ticker'].unique())

KeyError: 'ticker'

In [14]:
dfRuimTicker.head(10)
len(dfRuimTicker)

19

In [15]:
dfRuim.groupby(['stop']).size().to_frame()

       0
stop
0.06  24
0.08  25
0.10   4

In [16]:
df.groupby(['stop']).size().to_frame()

       0
stop
0.06  63
0.08  70
0.10  12
0.12   2

# Situação dos Tickers

In [17]:
urlRegraProj = "http://vps-40d69db1.vps.ovh.ca:23005/api/CotacaoIntradayAcaoResultadoValors/obtemResultadoRegraData?codigoRegra=geral&diaNumInicial=20210901&diaNumFinal=20211010"

In [18]:
r = requests.get(urlRegraProj)
j = r.json()
dfRegraProj = pd.DataFrame.from_dict(j)

In [19]:
dfRegraProj.head()

                                                     error
code                             ER_WRONG_FIELD_WITH_GROUP
errno                                                 1055
index                                                    0
message  ER_WRONG_FIELD_WITH_GROUP: Expression #5 of SE...
name                                                 Error

In [148]:
dfTickerRP = dfRegraProj.groupby(['ticker']).sum()

In [149]:
dfTickerRP.head()

         ano  mes  total  lucro  nulo  prejuizo
ticker
ABEV3   4042   19    405    186   204        15
AERI3   4042   19    405    217   124        64
ALPA4   4042   19    405      0     0       405
ALSO3   4042   19    405      0    46       359
AMAR3   4042   19    405      0     0       405

In [152]:
dfMerge = pd.merge(dfRuimTicker,dfTickerRP,how='left' , left_index=True, right_index=True)

In [153]:
dfMerge.head(40)

        0   ano  mes  total  lucro  nulo  prejuizo
ticker
ANIM3   3  4042   19    405      2     0       403
BPAC11  3  4042   19    405      0     0       405
CCRO3   3  4042   19    405      0   405         0
COGN3   2  4042   19    405     79    12       314
CSNA3   3  4042   19    405      0     0       405

In [155]:
len(dfRuimTicker)

5