# Período 9

In [108]:
import numpy as np
from datetime import datetime
import requests
import pandas as pd
import matplotlib.pyplot as plt

## Analisando apenas 3 casos por ticker

In [109]:
url = "http://vps-40d69db1.vps.ovh.ca:22001/api/ExecucaoSimulacaos/melhorValidacaoPeriodoFlatPorTicker?idPeriodo=9&limitePorTicker=3"

In [120]:
r = requests.get(url)
j = r.json()
df = pd.DataFrame.from_dict(j)

In [121]:
print('Total de casos: %d'%(len(df)))

Total de casos: 144

In [122]:
dfTicker = df.groupby(['ticker']).size()

In [123]:
dfTarget = df.groupby(['target']).size().to_frame()

In [124]:
print('Total de tickers: %d' % (len(dfTicker)))

Total de tickers: 48

In [125]:
df['saldoValidacao'].unique()

array([-1.,  1.,  0., nan, -3., -2.])

## Casos que não deram certo

In [126]:
dfRuim = df[df['saldoValidacao']<0]

In [127]:
print('Total de casos com erro: %d (%.2f) '%(len(dfRuim) , (100*(len(dfRuim) / len(df)) )))

Total de casos com erro: 50 (34.72)

In [128]:
dfRuimTicker =  dfRuim.groupby(['ticker']).size()

In [156]:
print('Total de ticker com erro: %d (%.2f) '%(len(dfRuimTicker) , (100*(len(dfRuimTicker) / len(dfTicker)) )))

Total de ticker com erro: 5 (10.42)

In [105]:
dfRuim.groupby(['target']).size().to_frame()

        0
target
0.10    3
0.12    9
0.14    7
0.16    9
0.18    4
0.20    4
0.22    3

In [106]:
dfRuim.groupby(['stop']).size().to_frame()

       0
stop
0.06  18
0.08  17
0.10   4

In [107]:
df.groupby(['stop']).size().to_frame()

       0
stop
0.06  45
0.08  54
0.10  12
0.12   2

# Situação dos Tickers

In [130]:
urlRegraProj = "http://vps-40d69db1.vps.ovh.ca:22001/api/CotacaoIntradayAcaoResultadoValors/obtemResultadoRegraData?codigoRegra=geral&diaNumInicial=20210901&diaNumFinal=20211010"

In [146]:
r = requests.get(urlRegraProj)
j = r.json()
dfRegraProj = pd.DataFrame.from_dict(j)

In [132]:
dfRegraProj.head()

    ano  mes ticker  total  lucro  nulo  prejuizo
0  2021    9  ABEV3    315     96   204        15
1  2021    9  AERI3    315    204    47        64
2  2021    9  ALPA4    315      0     0       315
3  2021    9  ALSO3    315      0     0       315
4  2021    9  AMAR3    315      0     0       315

In [148]:
dfTickerRP = dfRegraProj.groupby(['ticker']).sum()

In [149]:
dfTickerRP.head()

         ano  mes  total  lucro  nulo  prejuizo
ticker
ABEV3   4042   19    405    186   204        15
AERI3   4042   19    405    217   124        64
ALPA4   4042   19    405      0     0       405
ALSO3   4042   19    405      0    46       359
AMAR3   4042   19    405      0     0       405

In [152]:
dfMerge = pd.merge(dfRuimTicker,dfTickerRP,how='left' , left_index=True, right_index=True)

In [153]:
dfMerge.head(40)

        0   ano  mes  total  lucro  nulo  prejuizo
ticker
ANIM3   3  4042   19    405      2     0       403
BPAC11  3  4042   19    405      0     0       405
CCRO3   3  4042   19    405      0   405         0
COGN3   2  4042   19    405     79    12       314
CSNA3   3  4042   19    405      0     0       405

In [155]:
len(dfRuimTicker)

5