In [2]:
import numpy as np
from datetime import datetime
import requests
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
url = "http://vps-40d69db1.vps.ovh.ca:21046/api/ExecucaoSimulacaos/melhorValidacaoPeriodoFlat?idPeriodo=9"

In [4]:
r = requests.get('http://vps-40d69db1.vps.ovh.ca:21046/api/ExecucaoSimulacaos/melhorValidacaoPeriodoFlat?idPeriodo=9')
j = r.json()
df = pd.DataFrame.from_dict(j)

In [5]:
df.columns

Index(['simulacaoId', 'ticker', 'simulacaoResultado', 'simulacaoLucro',
       'simulacaoPrejuizo', 'target', 'stop', 'tipo', 'experimentoSimulacaoId',
       'validacaoLucro', 'validacaoPrejuizo', 'saldoValidacao'],
      dtype='object')

Qual o per√≠odo ?
Quantos experimentos ?
Total de casos ?

In [15]:
dfResumo = df.groupby('experimentoSimulacaoId').count()
dfResumo = dfResumo.filter(items=['ticker', 'validacaoLucro','saldoValidacao'])
dfResumo.head()

                        ticker  validacaoLucro  saldoValidacao
experimentoSimulacaoId
54                       14458           14422           14422
56                       11339           11329           11329
57                       27535           23724           23724
58                       13297               0               0

Tickers

In [12]:
len(df['ticker'].unique())

60

In [13]:
dfTicker = df.groupby(['ticker','saldoValidacao']).size().reset_index(name ='qtde')

In [14]:
dfTicker.head()

  ticker  saldoValidacao  qtde
0  AERI3             0.0   227
1  AERI3             1.0    22
2  AERI3             2.0    50
3  ALPA4             0.0   695
4  ALSO3             0.0    21

In [16]:
len(dfTicker['ticker'].unique())

40