In [1]:
import numpy as np
from datetime import datetime
import requests
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
url = "http://vps-40d69db1.vps.ovh.ca:22001/api/ExecucaoSimulacaos/totaisPorCombinacao?idRegraSimulacao=4&idPeriodo=10"

In [3]:
r = requests.get(url)
j = r.json()
df = pd.DataFrame.from_dict(j)

In [4]:
df.head()

        id                                          descricao  lucro  prejuizo
0  1128827   dmin=5.0 pmin=10.0 dtopo=5.0 ptopo=10.0 prcSe...      2       130
1  1128828   dmin=5.0 pmin=10.0 dtopo=5.0 ptopo=10.0 prcSe...      1        64
2  1128829   dmin=5.0 pmin=10.0 dtopo=5.0 ptopo=10.0 prcSe...      1        65
3  1128830   dmin=5.0 pmin=10.0 dtopo=5.0 ptopo=10.0 prcSe...      1         3
4  1128831   dmin=5.0 pmin=10.0 dtopo=5.0 ptopo=10.0 prcSe...      1         3

In [5]:
len(df)

3312

In [6]:
len(df) / 4

828.0