In [1]:
import numpy as np

In [2]:
import requests
import pandas as pd

r = requests.get('http://vps-40d69db1.vps.ovh.ca:21046/api/ExecucaoSimulacaos/melhorValidacaoPeriodoFlat?idPeriodo=7')

j = r.json()

df = pd.DataFrame.from_dict(j)

In [3]:
print(df.columns)
print(len(df))

Index(['simulacaoId', 'ticker', 'simulacaoResultado', 'simulacaoLucro',
       'simulacaoPrejuizo', 'target', 'stop', 'tipo', 'experimentoSimulacaoId',
       'validacaoLucro', 'validacaoPrejuizo', 'saldoValidacao'],
      dtype='object')
40466

# Por Experimento

In [5]:
 df.groupby(['experimentoSimulacaoId']).size()

experimentoSimulacaoId
54     5833
56     6242
57     9898
58    18493
dtype: int64

In [6]:
df['saldoValidacao'].unique()

array([None], dtype=object)

In [7]:
df['validacaoLucro'].unique()

array([None], dtype=object)

In [9]:
 df.groupby(['experimentoSimulacaoId','saldoValidacao']).size()

Series([], dtype: int64)

In [10]:
df.tail()

,simulacaoId,ticker,simulacaoResultado,simulacaoLucro,simulacaoPrejuizo,target,stop,tipo,experimentoSimulacaoId,validacaoLucro,validacaoPrejuizo,saldoValidacao
40461,10364406,COGN3,66,3,0,0.18,0.08,V,54,None,None,None
40462,10364856,COGN3,66,3,0,0.18,0.08,V,54,None,None,None
40463,10563107,WIZS3,68,4,1,0.16,0.06,V,58,None,None,None
40464,10563232,WIZS3,68,4,1,0.16,0.06,V,58,None,None,None
40465,10564032,WIZS3,68,4,1,0.16,0.06,V,58,None,None,None

# Executar Validação do Experimento 58