# De: 01-06-2021 Até 30-10-2021 - 5 meses (#9)

## Validação: 20211101 até 20211231 - 2 mes(es)

### (#54) Topo Venda 3M-gr02 (Ago-21) - em execução

In [5]:
url = "http://vps-40d69db1.vps.ovh.ca:21446/api/ExecucaoSimulacaos/consolidadoPorResultado?idPeriodo=9"

In [6]:
import numpy as np
from datetime import datetime
import requests
import pandas as pd

In [7]:
r = requests.get(url)
j = r.json()
df = pd.DataFrame.from_dict(j)

In [8]:
len(df)

5796

In [9]:
df.columns

Index(['resultado', 'ticker', 'experimentoSimulacaoId', 'target', 'stop',
       'qtde'],
      dtype='object')

### Experimentos Processados

In [12]:
df.groupby('experimentoSimulacaoId').sum()

                        resultado  target    stop    qtde
experimentoSimulacaoId
54                          25580  299.58  238.30  172800
56                          26876  284.74  230.16  144000
57                          14158  184.74  115.38  175344