## Analise em : Abril, MarÃ§o, Fevereiro -> 2022

### Neg-100 (88 tickers)

In [1]:
url = "http://vps-40d69db1.vps.ovh.ca:23002/api/CotacaoIntradayAcaoResultadoValors/obtemDatasPorDataGrupoLimite?diaInicioNum=20220201&diaFinalNum=20220430&grupoAcaoId=12&limiteDiaRegra=260"

In [3]:
import requests
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from datetime import datetime

In [4]:
r = requests.get(url)
j = r.json()
df = pd.DataFrame.from_dict(j)

In [5]:
df.head()

,anoMesNum,ticker,codigoRegraProjecao,target,stop,totalLucro,totalPrejuizo,mediaDias
0,202202,ABEV3,t09s15vy,0.09,0.15,249,0,14.0040
1,202202,ABEV3,t10s15vy,0.10,0.15,204,0,12.9314
2,202202,ABEV3,t10s17vy,0.10,0.17,204,0,12.9314
3,202202,ABEV3,t12s15vy,0.12,0.15,114,0,14.6667
4,202202,ABEV3,t12s17vy,0.12,0.17,114,0,14.6667

In [6]:
print(df['codigoRegraProjecao'].unique())

['t09s15vy' 't10s15vy' 't10s17vy' 't12s15vy' 't12s17vy' 't15s12vy'
 't15s15vy']

In [7]:
print(df['anoMesNum'].unique())

[202202 202203 202204]

## Melhores para Venda - Por Prejuizo

In [8]:
dfTot = df.groupby('ticker').sum(['totalLucro', 'totalPrejuizo'])

In [9]:
dfRank1 = dfTot.sort_values(by='totalPrejuizo', ascending=True)
dfRank1.head(15)

        anoMesNum  target  stop  totalLucro  totalPrejuizo  mediaDias
ticker
FLRY3     3841855    2.22  2.89        4179              0   356.4135
BRKM5     3235244    1.88  2.47        3183              1   319.8199
RADL3     2224231    1.27  1.68        1936             15   255.6440
CPLE6     2022030    1.26  1.50         818             28   247.3552
HAPV3     4246263    2.49  3.18        4955             53   405.1594
USIM5     3235246    1.86  2.44        3960             71   225.6605
CSMG3     2830841    1.72  2.12        1797             77   337.4773
MRFG3     3639654    2.13  2.73        3295            133   317.2900
JBSS3     2022025    1.15  1.52         333            163   148.0356
EGIE3     1213217    0.76  0.84           0            171   190.5758
BBDC4     3841855    2.28  2.86        3367            188   389.5515
ITUB4     2628636    1.55  1.97         867            231   291.9115
EMBR3     4044059    2.34  3.06        4428            334   241.7488
PETR4     3437450    1.98  2.61        1261            426   293.1720
BRML3     4044059    2.34  3.06        2138            492   350.8931

## Melhores para Venda - Por Lucro

In [12]:
dfRank2 = dfTot.sort_values(by='totalLucro', ascending=False)
dfRank2.head(15)

        anoMesNum  target  stop  totalLucro  totalPrejuizo  mediaDias
ticker
AERI3     4246263    2.49  3.18        5102            591   247.7903
HAPV3     4246263    2.49  3.18        4955             53   405.1594
ANIM3     4246263    2.49  3.18        4875            853   195.4540
AMAR3     4246263    2.49  3.18        4453           1200   182.0039
EMBR3     4044059    2.34  3.06        4428            334   241.7488
ALPA4     4246263    2.49  3.18        4354            984   226.4733
BRFS3     4246263    2.49  3.18        4263           1131   202.3343
FLRY3     3841855    2.22  2.89        4179              0   356.4135
YDUQ3     3639654    2.13  2.73        4087            607   157.5759
AZUL4     4044059    2.37  3.01        4053           1267   196.9256
USIM5     3235246    1.86  2.44        3960             71   225.6605
ALSO3     4246263    2.49  3.18        3874           1031   366.8550
MGLU3     3639654    2.13  2.73        3719            754   124.5482
CVCB3     4246263    2.49  3.18        3714           1694   146.1362
CSNA3     3437447    2.03  2.59        3527            810   159.1027