In [1]:
url = "http://vps-40d69db1.vps.ovh.ca:21446/api/CotacaoIntradayAcaoResultadoValors/obtemPorRegraData?idRegra=1&diaNum=20211001"

In [2]:
import requests
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from datetime import datetime

In [4]:
r = requests.get(url)
j = r.json()
df = pd.DataFrame.from_dict(j)

In [5]:
df.head()

  ticker  resultado  qtde
0  ABEV3         -1   221
1  ABEV3          0    67
2  ABEV3          1   270
3  AZUL4         -1   689
4  AZUL4          1    84

In [7]:
df2 = df.set_index('ticker')

In [8]:
df2.head()

        resultado  qtde
ticker
ABEV3          -1   221
ABEV3           0    67
ABEV3           1   270
AZUL4          -1   689
AZUL4           1    84

In [9]:
df3 = df2.reset_index()
df3.head()

  ticker  resultado  qtde
0  ABEV3         -1   221
1  ABEV3          0    67
2  ABEV3          1   270
3  AZUL4         -1   689
4  AZUL4          1    84

In [10]:
df['resultado'].unique()

array([-1,  0,  1])

In [13]:
dfTicker2 = df.set_index(['ticker','resultado'])
dfTicker2.head()

                  qtde
ticker resultado
ABEV3  -1          221
        0           67
        1          270
AZUL4  -1          689
        1           84

In [16]:
dfTicker2.loc[('ABEV3',1)]

qtde    270
Name: (ABEV3, 1), dtype: int64