In [1]:
import requests
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from datetime import datetime

In [6]:
url = "http://vps-40d69db1.vps.ovh.ca:23005/api/CotacaoIntradayAcaoResultadoValor/obtemResultadoRegraData?diaNumInicial=20210401&diaNumFinal=20220331&grupoAcao=Neg-100&codigoRegra=20"

In [7]:
r = requests.get(url)
j = r.json()
df = pd.DataFrame.from_dict(j)

In [8]:
df.head()

  ticker  ticks  positivos  negativos  zero
0  ABEV3   3750          0          0     0
1  AERI3   3750          0          0     0
2  ALPA4   3750          0          0     0
3  ALSO3   3750          0          0     0
4  AMAR3   3750          0          0     0