In [2]:
import tensorflow as tf

2022-07-19 11:20:17.804228: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2022-07-19 11:20:17.808350: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.

In [3]:
import requests
import pandas as pd
import numpy as np

In [4]:
idTreino = 2
data = 20220602

urlPrevisao = "http://vps-40d69db1.vps.ovh.ca:23005/api/PrevisaoRedes/obtemPorDiaTreinoComDiario?diaNumPrevisao={}&treinoRedeId={}".format(data,idTreino)

In [5]:
r = requests.get(urlPrevisao)
j = r.json()
dfPrevisao = pd.DataFrame.from_dict(j)

In [6]:
dfPrevisao.head()

,ticker,diaNumPrevisao,valorPrevisao,precoEntrada,precoReferencia,redeNeuralId,treinoRedeId,tipoCompraVenda,id
0,ABEV3,20220601,0.214768,14.42,14.14,None,2,V,3688
1,BBSE3,20220601,0.334632,27.33,26.79,None,2,V,3689
2,AMAR3,20220601,0.364464,2.45,2.40,None,2,V,3690
3,BBAS3,20220601,0.293854,37.28,36.55,None,2,V,3691
4,BBDC4,20220601,0.280281,20.86,20.45,None,2,V,3692

In [7]:
dfPrevisao.sort_values(by='valorPrevisao', ascending=False)

,ticker,diaNumPrevisao,valorPrevisao,precoEntrada,precoReferencia,redeNeuralId,treinoRedeId,tipoCompraVenda,id
44,HAPV3,20220601,0.539415,6.89,6.75,None,2,V,3732
77,SULA11,20220601,0.469852,27.31,26.77,None,2,V,3765
54,MGLU3,20220601,0.461913,3.78,3.71,None,2,V,3742
25,CRFB3,20220601,0.454163,19.74,19.35,None,2,V,3713
28,CSNA3,20220601,0.443345,22.28,21.84,None,2,V,3716
...,...,...,...,...,...,...,...,...,...
70,RAPT4,20220601,0.225259,10.43,10.23,None,2,V,3758
29,CVCB3,20220601,0.223225,11.17,10.95,None,2,V,3717
66,PTBL3,20220601,0.214966,8.62,8.45,None,2,V,3754
0,ABEV3,20220601,0.214768,14.42,14.14,None,2,V,3688
60,MYPK3,20220601,0.213201,15.14,14.84,None,2,V,3748