In [31]:
import tensorflow as tf

In [32]:
print(tf.__version__)

2.7.0

In [33]:
import requests
import pandas as pd
import numpy as np

In [34]:
modelo = tf.keras.models.load_model('rede1.h5')

In [35]:
modelo.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 1000)              1801000

 dense_1 (Dense)             (None, 500)               500500

 dense_2 (Dense)             (None, 1)                 501

=================================================================
Total params: 2,302,001
Trainable params: 2,302,001
Non-trainable params: 0
_________________________________________________________________

In [42]:


url = "http://vps-40d69db1.vps.ovh.ca:23004/api/ExemploTreinoAcaoEntradas/obtemPorDia?diaNum=20220530"

In [43]:
r = requests.get(url)
j = r.json()
df = pd.DataFrame.from_dict(j)

In [44]:
df.head()

                                              campoX ticker
0   1.130710, 1.122980, 1.120169, 1.120169, 1.132...  ABEV3
1   2.112299, 2.112299, 2.101604, 2.106952, 2.112...  AERI3
2   1.698991, 1.657306, 1.678806, 1.668714, 1.673...  ALPA4
3   1.033316, 1.010411, 1.023946, 1.028110, 1.034...  ALSO3
4   1.395257, 1.367589, 1.375494, 1.375494, 1.391...  AMAR3

In [45]:
def trataLinhaX(linha):
    return np.fromstring(linha['campoX'], dtype=float, sep=',')

In [46]:
dfTratadoX = df.apply(trataLinhaX, axis='columns')
X = np.stack(dfTratadoX.values)
X.shape

(88, 1800)

In [48]:
result = modelo.predict(X)

In [49]:
type(result)

numpy.ndarray

In [54]:
df['resultado'] = result

In [57]:
df.head()

  ticker  resultado
0  ABEV3   0.160397
1  AERI3   0.239546
2  ALPA4   0.352048
3  ALSO3   0.128953
4  AMAR3   0.292051

In [56]:
df.drop('campoX', inplace=True, axis=1)

## Experiencias

In [50]:
dfTicker = df.set_index('ticker')
dfTicker.head()

                                                   campoX
ticker
ABEV3    1.130710, 1.122980, 1.120169, 1.120169, 1.132...
AERI3    2.112299, 2.112299, 2.101604, 2.106952, 2.112...
ALPA4    1.698991, 1.657306, 1.678806, 1.668714, 1.673...
ALSO3    1.033316, 1.010411, 1.023946, 1.028110, 1.034...
AMAR3    1.395257, 1.367589, 1.375494, 1.375494, 1.391...

In [51]:
dfTratadoX = dfTicker.apply(trataLinhaX, axis='columns')

In [52]:
dfTratadoX.head()

ticker
ABEV3    [1.13071, 1.12298, 1.120169, 1.120169, 1.13211...
AERI3    [2.112299, 2.112299, 2.101604, 2.106952, 2.112...
ALPA4    [1.698991, 1.657306, 1.678806, 1.668714, 1.673...
ALSO3    [1.033316, 1.010411, 1.023946, 1.02811, 1.0348...
AMAR3    [1.395257, 1.367589, 1.375494, 1.375494, 1.391...
dtype: object

In [53]:
result = modelo.predict(dfTratadoX)

ValueError: Failed to convert a NumPy array to a Tensor (Unsupported object type numpy.ndarray).