In [1]:
import tensorflow as tf

2022-07-19 12:07:13.431539: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2022-07-19 12:07:13.431607: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.

In [2]:
import requests
import pandas as pd
import numpy as np

In [18]:
idTreino = 2
data = 20220608

urlPrevisao = "http://vps-40d69db1.vps.ovh.ca:23005/api/PrevisaoRedes/obtemPorDiaTreinoComDiario?diaNumPrevisao={}&treinoRedeId={}".format(data,idTreino)

In [19]:
r = requests.get(urlPrevisao)
j = r.json()
dfPrevisao = pd.DataFrame.from_dict(j)

In [20]:
dfPrevisao.head()

   ticker  valorPrevisao  precoEntrada  maximo  minimo
0   HAPV3       0.534197          5.98    6.21    5.77
1  SULA11       0.530477         25.50   25.58   24.59
2   MGLU3       0.480795          3.36    3.34    3.20
3   CRFB3       0.466184         18.96   18.87   18.39
4   CIEL3       0.438130          3.88    3.84    3.74

In [ ]:
dfPrevisao.sort_values(by='valorPrevisao', ascending=False)