In [31]:
import tensorflow as tf

In [32]:
print(tf.__version__)

2.7.0

In [33]:
import requests
import pandas as pd
import numpy as np

In [34]:
modelo = tf.keras.models.load_model('rede1.h5')

In [35]:
modelo.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 1000)              1801000

 dense_1 (Dense)             (None, 500)               500500

 dense_2 (Dense)             (None, 1)                 501

=================================================================
Total params: 2,302,001
Trainable params: 2,302,001
Non-trainable params: 0
_________________________________________________________________

In [42]:


url = "http://vps-40d69db1.vps.ovh.ca:23004/api/ExemploTreinoAcaoEntradas/obtemPorDia?diaNum=20220530"

In [43]:
r = requests.get(url)
j = r.json()
df = pd.DataFrame.from_dict(j)

In [44]:
df.head()

                                              campoX ticker
0   1.130710, 1.122980, 1.120169, 1.120169, 1.132...  ABEV3
1   2.112299, 2.112299, 2.101604, 2.106952, 2.112...  AERI3
2   1.698991, 1.657306, 1.678806, 1.668714, 1.673...  ALPA4
3   1.033316, 1.010411, 1.023946, 1.028110, 1.034...  ALSO3
4   1.395257, 1.367589, 1.375494, 1.375494, 1.391...  AMAR3

In [45]:
def trataLinhaX(linha):
    return np.fromstring(linha['campoX'], dtype=float, sep=',')

In [46]:
dfTratadoX = df.apply(trataLinhaX, axis='columns')
X = np.stack(dfTratadoX.values)
X.shape

(88, 1800)

In [48]:
result = modelo.predict(X)

In [49]:
type(result)

numpy.ndarray

In [54]:
df['resultado'] = result

In [57]:
df.head()

  ticker  resultado
0  ABEV3   0.160397
1  AERI3   0.239546
2  ALPA4   0.352048
3  ALSO3   0.128953
4  AMAR3   0.292051

In [56]:
df.drop('campoX', inplace=True, axis=1)

In [58]:
json = df.to_json()

In [59]:
print(json)

{"ticker":{"0":"ABEV3","1":"AERI3","2":"ALPA4","3":"ALSO3","4":"AMAR3","5":"ANIM3","6":"AZUL4","7":"B3SA3","8":"BBAS3","9":"BBDC4","10":"BBSE3","11":"BEEF3","12":"BKBR3","13":"BPAC11","14":"BPAN4","15":"BRAP4","16":"BRFS3","17":"BRKM5","18":"BRML3","19":"CCRO3","20":"CIEL3","21":"CMIG4","22":"COGN3","23":"CPFE3","24":"CPLE6","25":"CRFB3","26":"CSAN3","27":"CSMG3","28":"CSNA3","29":"CVCB3","30":"CYRE3","31":"ECOR3","32":"EGIE3","33":"ELET3","34":"ELET6","35":"EMBR3","36":"ENBR3","37":"ENEV3","38":"ENGI11","39":"EQTL3","40":"EZTC3","41":"FLRY3","42":"GGBR4","43":"GOAU4","44":"GOLL4","45":"HAPV3","46":"HYPE3","47":"ITUB4","48":"JBSS3","49":"JHSF3","50":"KLBN11","51":"LCAM3","52":"LIGT3","53":"LREN3","54":"LWSA3","55":"MGLU3","56":"MOVI3","57":"MRFG3","58":"MRVE3","59":"MULT3","60":"MYPK3","61":"NEOE3","62":"NTCO3","63":"PCAR3","64":"PETR4","65":"POSI3","66":"PRIO3","67":"PTBL3","68":"QUAL3","69":"RADL3","70":"RAIL3","71":"RAPT4","72":"RENT3","73":"SANB11","74":"SBSP3","75":"SLCE3","76":"SMTO3","77":"STBP3","78":"SULA11","79":"SUZB3","80":"TAEE11","81":"TOTS3","82":"UGPA3","83":"USIM5","84":"VALE3","85":"WEGE3","86":"WIZS3","87":"YDUQ3"},"resultado":{"0":0.1603969038,"1":0.2395460308,"2":0.3520480394,"3":0.1289526224,"4":0.2920513153,"5":0.2501277328,"6":0.1805996001,"7":0.1102133989,"8":0.1314558685,"9":0.1769338548,"10":0.1098702252,"11":0.121389538,"12":0.1504676342,"13":0.1203092337,"14":0.1667309701,"15":0.1769917905,"16":0.3695010841,"17":0.2606227994,"18":0.1078335047,"19":0.1294156909,"20":0.1122741401,"21":0.1279902458,"22":0.1334548295,"23":0.1022697091,"24":0.1234816313,"25":0.0843240321,"26":0.1661168635,"27":0.1270605922,"28":0.2106087804,"29":0.1101166308,"30":0.1395902336,"31":0.1880444586,"32":0.1290832758,"33":0.1229274571,"34":0.1222960353,"35":0.3480782807,"36":0.1382414401,"37":0.1547013819,"38":0.1123371124,"39":0.1131298542,"40":0.2048665583,"41":0.2083318532,"42":0.1564281285,"43":0.1636815965,"44":0.1829293966,"45":0.1449225843,"46":0.1087635458,"47":0.134206742,"48":0.1366047561,"49":0.1198776066,"50":0.2039270401,"51":0.1478215754,"52":0.1973040402,"53":0.1509415507,"54":0.314548552,"55":0.2097934783,"56":0.1366015673,"57":0.1978258789,"58":0.1582829952,"59":0.0995770991,"60":0.2123581767,"61":0.1271322072,"62":0.1939192116,"63":0.1223433018,"64":0.117433399,"65":0.1952511966,"66":0.1305118799,"67":0.1500963867,"68":0.1882879138,"69":0.1712973714,"70":0.1555682421,"71":0.1531719565,"72":0.1428595483,"73":0.1399430335,"74":0.1175705492,"75":0.1259566844,"76":0.1155759096,"77":0.1180751026,"78":0.1246313453,"79":0.2124183178,"80":0.0991351306,"81":0.0988272429,"82":0.1646112502,"83":0.2431687117,"84":0.1452568173,"85":0.151450187,"86":0.161542505,"87":0.212025106}}

In [60]:
url = 'https://www.w3schools.com/python/demopage.php'
x = requests.post(url, data = json)

## Experiencias

In [50]:
dfTicker = df.set_index('ticker')
dfTicker.head()

                                                   campoX
ticker
ABEV3    1.130710, 1.122980, 1.120169, 1.120169, 1.132...
AERI3    2.112299, 2.112299, 2.101604, 2.106952, 2.112...
ALPA4    1.698991, 1.657306, 1.678806, 1.668714, 1.673...
ALSO3    1.033316, 1.010411, 1.023946, 1.028110, 1.034...
AMAR3    1.395257, 1.367589, 1.375494, 1.375494, 1.391...

In [51]:
dfTratadoX = dfTicker.apply(trataLinhaX, axis='columns')

In [52]:
dfTratadoX.head()

ticker
ABEV3    [1.13071, 1.12298, 1.120169, 1.120169, 1.13211...
AERI3    [2.112299, 2.112299, 2.101604, 2.106952, 2.112...
ALPA4    [1.698991, 1.657306, 1.678806, 1.668714, 1.673...
ALSO3    [1.033316, 1.010411, 1.023946, 1.02811, 1.0348...
AMAR3    [1.395257, 1.367589, 1.375494, 1.375494, 1.391...
dtype: object

In [53]:
result = modelo.predict(dfTratadoX)

ValueError: Failed to convert a NumPy array to a Tensor (Unsupported object type numpy.ndarray).