In [1]:
import tensorflow as tf

2022-06-10 10:52:30.086096: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2022-06-10 10:52:30.086166: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.

In [2]:
print(tf.__version__)

2.7.0

In [3]:
import requests
import pandas as pd
import numpy as np

In [20]:
modelo = tf.keras.models.load_model('rede2.h5')

In [21]:
modelo.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 1800)              3241800

 dense_1 (Dense)             (None, 1400)              2521400

 dense_2 (Dense)             (None, 1000)              1401000

 dense_3 (Dense)             (None, 600)               600600

 dense_4 (Dense)             (None, 200)               120200

 dense_5 (Dense)             (None, 1)                 201

=================================================================
Total params: 7,885,201
Trainable params: 7,885,201
Non-trainable params: 0
_________________________________________________________________

In [49]:
url = "http://vps-40d69db1.vps.ovh.ca:23005/api/ExemploTreinoAcaoEntradas/obtemPorDia?diaNum=20220622"

In [50]:
r = requests.get(url)
j = r.json()
df = pd.DataFrame.from_dict(j)

In [51]:
df.head(40)

                                               campoX  ticker  diaNumPrevisao
0    1.176248, 1.181543, 1.178517, 1.173979, 1.175...   ABEV3        20220622
1    2.180887, 2.262799, 2.279863, 2.255973, 2.290...   AERI3        20220622
2    1.837104, 1.859226, 1.861740, 1.853193, 1.844...   ALPA4        20220622
3    1.218713, 1.250894, 1.241359, 1.240763, 1.228...   ALSO3        20220622
4    1.857143, 1.887755, 1.943878, 1.928571, 1.913...   AMAR3        20220622
5    1.589942, 1.599613, 1.617021, 1.605416, 1.595...   ANIM3        20220622
6    1.954210, 1.934269, 1.931315, 1.926883, 1.930...   AZUL4        20220622
7    0.984429, 0.977509, 0.978374, 0.972318, 0.986...   B3SA3        20220622
8    0.883580, 0.890535, 0.890535, 0.883278, 0.886...   BBAS3        20220622
9    1.030530, 1.035886, 1.033744, 1.028923, 1.039...   BBDC4        20220622
10   0.811172, 0.817860, 0.819434, 0.815500, 0.818...   BBSE3        20220622
11   0.830442, 0.826498, 0.821767, 0.820978, 0.817...   BEEF3        20220622
12   1.001698, 1.025467, 1.059423, 1.047538, 1.039...   BKBR3        20220622
13   0.989391, 1.005535, 0.997232, 0.983395, 0.988...  BPAC11        20220622
14   1.695312, 1.735938, 1.700000, 1.689063, 1.679...   BPAN4        20220622
15   0.923106, 0.927720, 0.936178, 0.932718, 0.936...   BRAP4        20220622
16   1.811049, 1.812650, 1.805444, 1.798239, 1.791...   BRFS3        20220622
17   1.534584, 1.527614, 1.534316, 1.532708, 1.538...   BRKM5        20220622
18   1.015769, 1.052562, 1.049934, 1.049934, 1.028...   BRML3        20220622
19   0.949045, 0.957006, 0.950637, 0.940287, 0.941...   CCRO3        20220622
20   0.544987, 0.570694, 0.570694, 0.565553, 0.557...   CIEL3        20220622
21   1.219012, 1.225536, 1.219944, 1.212488, 1.219...   CMIG4        20220622
22   1.090498, 1.108597, 1.108597, 1.095023, 1.081...   COGN3        20220622
23   0.826047, 0.830665, 0.829126, 0.822044, 0.825...   CPFE3        20220622
24   0.913295, 0.927746, 0.927746, 0.921965, 0.926...   CPLE6        20220622
25   0.941860, 0.947368, 0.948592, 0.943084, 0.942...   CRFB3        20220622
26   1.141392, 1.154884, 1.152186, 1.150027, 1.153...   CSAN3        20220622
27   1.081425, 1.087362, 1.088210, 1.078880, 1.080...   CSMG3        20220622
28   1.469011, 1.449344, 1.470203, 1.464243, 1.466...   CSNA3        20220622
29   1.462845, 1.476645, 1.478769, 1.449045, 1.453...   CVCB3        20220622
30   1.253942, 1.287137, 1.313693, 1.283817, 1.266...   CYRE3        20220622
31   1.163233, 1.163233, 1.156894, 1.145800, 1.141...   ECOR3        20220622
32   0.922783, 0.930911, 0.930433, 0.925173, 0.927...   EGIE3        20220622
33   0.754482, 0.758112, 0.757885, 0.751305, 0.754...   ELET3        20220622
34   0.749254, 0.753843, 0.754990, 0.749713, 0.754...   ELET6        20220622
35   2.084760, 2.073630, 2.064212, 2.078767, 2.073...   EMBR3        20220622
36   0.998558, 1.002883, 1.002883, 0.996636, 0.999...   ENBR3        20220622
37   0.939799, 0.949833, 0.951171, 0.941806, 0.941...   ENEV3        20220622
38   1.011689, 1.026358, 1.020170, 1.011231, 1.012...  ENGI11        20220622
39   0.948492, 0.953936, 0.946817, 0.938442, 0.942...   EQTL3        20220622

In [52]:
def trataLinhaX(linha):
    return np.fromstring(linha['campoX'], dtype=float, sep=',')

In [53]:
dfTratadoX = df.apply(trataLinhaX, axis='columns')
X = np.stack(dfTratadoX.values)
X.shape

(88, 1800)

In [54]:
dfTratadoX.head()

0    [1.176248, 1.181543, 1.178517, 1.173979, 1.175...
1    [2.180887, 2.262799, 2.279863, 2.255973, 2.290...
2    [1.837104, 1.859226, 1.86174, 1.853193, 1.8446...
3    [1.218713, 1.250894, 1.241359, 1.240763, 1.228...
4    [1.857143, 1.887755, 1.943878, 1.928571, 1.913...
dtype: object

In [55]:
result = modelo.predict(X)

In [56]:
df['resultado'] = result
df['redeId'] = "1"

In [57]:
df.drop('campoX', inplace=True, axis=1)

In [58]:
json = df.to_dict(orient='list')

In [59]:
url = 'http://vps-40d69db1.vps.ovh.ca:23005/api/PrevisaoRedes/recebePrevisao'

response = requests.post(url, data=json)

In [60]:
print(response)

<Response [200]>