In [2]:
import tensorflow as tf

In [3]:
print(tf.__version__)

2.7.0

In [4]:
import requests
import pandas as pd
import numpy as np

In [11]:
url = "http://vps-40d69db1.vps.ovh.ca:23004/api/ExemploTreinoAcaoEntradas/obtemProximoDia"

In [12]:
r = requests.get(url)
j = r.json()
df = pd.DataFrame.from_dict(j)

In [13]:
df.head(40)

                                               campoX  ticker  diaNumPrevisao
0    0.999314, 1.001372, 1.000686, 0.992455, 0.990...   ABEV3        20220714
1    2.151625, 2.158845, 2.140794, 2.140794, 2.162...   AERI3        20220714
2    1.505495, 1.504971, 1.486656, 1.513344, 1.510...   ALPA4        20220714
3    1.196711, 1.211937, 1.218636, 1.231425, 1.223...   ALSO3        20220714
4    1.321429, 1.339286, 1.330357, 1.325893, 1.343...   AMAR3        20220714
5    1.608295, 1.626728, 1.605991, 1.624424, 1.629...   ANIM3        20220714
6    2.137143, 2.147755, 2.118367, 2.123265, 2.129...   AZUL4        20220714
7    1.202138, 1.207969, 1.200194, 1.200194, 1.204...   B3SA3        20220714
8    0.943408, 0.951055, 0.947996, 0.945549, 0.946...   BBAS3        20220714
9    1.286826, 1.288024, 1.276048, 1.270659, 1.268...   BBDC4        20220714
10   0.809091, 0.809091, 0.805929, 0.808696, 0.805...   BBSE3        20220714
11   0.720345, 0.721064, 0.725377, 0.723940, 0.724...   BEEF3        20220714
12   0.944154, 0.966841, 0.965096, 0.966841, 0.980...   BKBR3        20220714
13   0.869447, 0.883500, 0.874433, 0.876700, 0.876...  BPAC11        20220714
14   1.530351, 1.570288, 1.549521, 1.549521, 1.547...   BPAN4        20220714
15   1.202033, 1.216434, 1.217281, 1.222787, 1.219...   BRAP4        20220714
16   1.445746, 1.434649, 1.437115, 1.447596, 1.445...   BRFS3        20220714
17   1.461288, 1.483156, 1.504137, 1.479314, 1.484...   BRKM5        20220714
18   1.109804, 1.112418, 1.115033, 1.121569, 1.116...   BRML3        20220714
19   0.958961, 0.944724, 0.946399, 0.950586, 0.945...   CCRO3        20220714
20   0.536269, 0.538860, 0.546632, 0.541451, 0.538...   CIEL3        20220714
21   1.224353, 1.232023, 1.229147, 1.238734, 1.241...   CMIG4        20220714
22   0.991342, 0.978355, 0.974026, 0.974026, 0.965...   COGN3        20220714
23   0.853611, 0.852310, 0.856213, 0.864021, 0.864...   CPFE3        20220714
24   0.935766, 0.935766, 0.937226, 0.944526, 0.944...   CPLE6        20220714
25   0.840805, 0.847701, 0.850575, 0.856322, 0.856...   CRFB3        20220714
26   1.300119, 1.293556, 1.316826, 1.322792, 1.306...   CSAN3        20220714
27   1.066725, 1.062335, 1.063213, 1.069359, 1.068...   CSMG3        20220714
28   1.848189, 1.860028, 1.857939, 1.867688, 1.854...   CSNA3        20220714
29   1.691520, 1.730994, 1.688596, 1.697368, 1.729...   CVCB3        20220714
30   1.109992, 1.120062, 1.111541, 1.126259, 1.136...   CYRE3        20220714
31   1.394286, 1.400000, 1.386667, 1.396190, 1.398...   ECOR3        20220714
32   0.932741, 0.930339, 0.931300, 0.934663, 0.935...   EGIE3        20220714
33   0.746818, 0.752835, 0.750752, 0.755149, 0.758...   ELET3        20220714
34   0.719731, 0.719731, 0.718834, 0.723094, 0.722...   ELET6        20220714
35   1.902504, 1.884615, 1.891771, 1.892665, 1.872...   EMBR3        20220714
36   1.029126, 1.024272, 1.035437, 1.047573, 1.049...   ENBR3        20220714
37   0.853495, 0.870296, 0.866935, 0.878360, 0.883...   ENEV3        20220714
38   1.054439, 1.051386, 1.045790, 1.046807, 1.047...  ENGI11        20220714
39   0.977609, 0.979848, 0.968204, 0.976265, 0.977...   EQTL3        20220714

In [14]:
def trataLinhaX(linha):
    return np.fromstring(linha['campoX'], dtype=float, sep=',')

In [15]:
dfTratadoX = df.apply(trataLinhaX, axis='columns')
X = np.stack(dfTratadoX.values)
X.shape

(87, 1800)

In [16]:
X2 = X.reshape(87,1800,1)

In [17]:
modelo = tf.keras.models.load_model('best_model.h5')

2022-07-13 22:54:54.316031: E tensorflow/stream_executor/cuda/cuda_driver.cc:271] failed call to cuInit: CUDA_ERROR_NO_DEVICE: no CUDA-capable device is detected
2022-07-13 22:54:54.325018: I tensorflow/stream_executor/cuda/cuda_diagnostics.cc:156] kernel driver does not appear to be running on this host (vps34755): /proc/driver/nvidia/version does not exist
2022-07-13 22:54:54.421095: I tensorflow/core/platform/cpu_feature_guard.cc:151] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [18]:
modelo.summary()

Model: "model_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_2 (InputLayer)        [(None, 1800, 1)]         0

 conv1d_3 (Conv1D)           (None, 1800, 64)          256

 batch_normalization_3 (Batc  (None, 1800, 64)         256
 hNormalization)

 re_lu_3 (ReLU)              (None, 1800, 64)          0

 conv1d_4 (Conv1D)           (None, 1800, 64)          12352

 batch_normalization_4 (Batc  (None, 1800, 64)         256
 hNormalization)

 re_lu_4 (ReLU)              (None, 1800, 64)          0

 conv1d_5 (Conv1D)           (None, 1800, 64)          12352

 batch_normalization_5 (Batc  (None, 1800, 64)         256
 hNormalization)

 re_lu_5 (ReLU)              (None, 1800, 64)          0

 global_average_pooling1d_1   (None, 64)               0
 (GlobalAveragePooling1D)

 dense_1 (Dense)             (None, 2)                 130

=================================================================
Total params: 25,858
Trainable params: 25,474
Non-trainable params: 384
_________________________________________________________________

In [19]:
result = modelo.predict(X)

2022-07-13 22:55:15.959617: W tensorflow/core/framework/cpu_allocator_impl.cc:82] Allocation of 626400 exceeds 10% of free system memory.
2022-07-13 22:55:22.371314: W tensorflow/core/framework/cpu_allocator_impl.cc:82] Allocation of 14745600 exceeds 10% of free system memory.
2022-07-13 22:55:22.756710: W tensorflow/core/framework/cpu_allocator_impl.cc:82] Allocation of 14745600 exceeds 10% of free system memory.
2022-07-13 22:55:22.871988: W tensorflow/core/framework/cpu_allocator_impl.cc:82] Allocation of 14745600 exceeds 10% of free system memory.
2022-07-13 22:55:23.064326: W tensorflow/core/framework/cpu_allocator_impl.cc:82] Allocation of 14745600 exceeds 10% of free system memory.

In [22]:
result.shape

(87, 2)

In [29]:
print(type(result))

<class 'numpy.ndarray'>

In [31]:
print(result[ :,1])

[0.1622171  0.27390003 0.29438794 0.32287326 0.30390716 0.33885765
 0.293541   0.36272565 0.18094699 0.31723753 0.16950959 0.24314252
 0.26087165 0.2296439  0.3348922  0.34306726 0.2475291  0.3611603
 0.28926444 0.205004   0.3190857  0.2857001  0.22377086 0.21026102
 0.18392445 0.25039595 0.34114334 0.290414   0.3395495  0.30076042
 0.2851526  0.36939085 0.15683195 0.21923904 0.25089258 0.31794682
 0.16916452 0.18246053 0.27019432 0.23468362 0.20725931 0.21046971
 0.30918765 0.30572584 0.28623527 0.28493905 0.20893568 0.2641973
 0.3168719  0.26409543 0.3190111  0.36297703 0.19330913 0.3165232
 0.2672446  0.38608658 0.3235072  0.2899113  0.18056421 0.20796023
 0.31703782 0.3238995  0.34304672 0.2678492  0.35072336 0.29425794
 0.29058564 0.30363998 0.24111706 0.2171828  0.18244436 0.17452006
 0.3251668  0.20845117 0.33923414 0.34447095 0.24989001 0.33863476
 0.30178156 0.1933808  0.32764563 0.26412585 0.32740167 0.30147502
 0.25385293 0.24071848 0.32261804]

In [32]:
df['resultado'] = result[ :,1]
df['redeId'] = "2"

In [33]:
df.drop('campoX', inplace=True, axis=1)

In [ ]:
json = df.to_dict(orient='list')

In [ ]:
url = 'http://vps-40d69db1.vps.ovh.ca:23005/api/PrevisaoRedes/recebePrevisao'

response = requests.post(url, data=json)

In [ ]:
print(response)

In [34]:
df.head()

  ticker  diaNumPrevisao  resultado redeId
0  ABEV3        20220714   0.162217      2
1  AERI3        20220714   0.273900      2
2  ALPA4        20220714   0.294388      2
3  ALSO3        20220714   0.322873      2
4  AMAR3        20220714   0.303907      2

In [36]:
dfSort = df.sort_values(by='resultado', ascending=False)

dfSort.head(10)

In [37]:
dfSort.head(10)

   ticker  diaNumPrevisao  resultado redeId
55  MOVI3        20220714   0.386087      2
31  ECOR3        20220714   0.369391      2
51  LIGT3        20220714   0.362977      2
7   B3SA3        20220714   0.362726      2
17  BRKM5        20220714   0.361160      2
64  POSI3        20220714   0.350723      2
75  SMTO3        20220714   0.344471      2
15  BRAP4        20220714   0.343067      2
62  PCAR3        20220714   0.343047      2
26  CSAN3        20220714   0.341143      2