In [1]:
from tensorflow import keras
import numpy as np
import matplotlib.pyplot as plt
import requests
import pandas as pd

2022-07-16 06:46:55.861049: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2022-07-16 06:46:55.861127: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.

In [7]:
diaInicio = '20210801'
diaFinal = '20220331'
idGrupo = '14'
idRegra = '30'
idTipo = '1'
url = 'http://vps-40d69db1.vps.ovh.ca:23004/api/ExemploTreinoAcaoSaidas/listaParaTreino?diaNumInicio={}&diaNumFinal={}&idGrupoAcao={}&idRegraProjecao={}&idTipoExemplo={}'.format(diaInicio,diaFinal,idGrupo,idRegra,idTipo)

In [8]:
print(url)

http://vps-40d69db1.vps.ovh.ca:23004/api/ExemploTreinoAcaoSaidas/listaParaTreino?diaNumInicio=20210801&diaNumFinal=20220331&idGrupoAcao=14&idRegraProjecao=30&idTipoExemplo=1

In [9]:
r = requests.get(url)
j = r.json()
df = pd.DataFrame.from_dict(j)

In [10]:
len(df)

3300

In [5]:
df.head()

                                              campoX  campoY
0   0.553233, 0.562956, 0.563928, 0.560039, 0.563...       1
1   0.592052, 0.603622, 0.608149, 0.604125, 0.595...       1
2   0.620049, 0.611736, 0.620538, 0.627384, 0.640...       0
3   0.628922, 0.625000, 0.633333, 0.629902, 0.630...       1
4   0.640138, 0.643599, 0.641621, 0.635195, 0.630...       1