In [1]:
import requests
import pandas as pd
import numpy as np

In [2]:
url = "http://vps-40d69db1.vps.ovh.ca:23004/api/ExemploTreinoAcaoEntradas/obtemPorDia?diaNum=20220429"

In [3]:
r = requests.get(url)
j = r.json()
df = pd.DataFrame.from_dict(j)

In [8]:
def trataLinhaX(linha):
    linha['tamanho'] = np.fromstring(linha['campoX'], dtype=float, sep=',').size
    return linha

In [9]:
dfTratadoX = df.apply(trataLinhaX, axis='columns')

In [10]:
dfTratadoX.head()

,campoX,ticker,diaNumPrevisao,tamanho
0,"1.186948, 1.192386, 1.210741, 1.211421, 1.210...",ABEV3,20220429,1785
1,"1.548828, 1.550781, 1.585937, 1.603516, 1.562...",AERI3,20220429,1785
2,"1.939109, 1.955941, 1.989109, 2.025248, 1.996...",ALPA4,20220429,1785
3,"0.936110, 0.932797, 0.952674, 0.973024, 0.966...",ALSO3,20220429,1785
4,"1.841880, 1.867521, 1.944444, 1.970085, 1.961...",AMAR3,20220429,1785