In [10]:
import pandas as pd

# Criando um pandas dataframe

In [15]:
# assign data of lists.  
data = {'Name': ['Tom', 'Joseph', 'Krish', 'John', 'Tom'], 'Age': [20, 21, 19, 18, 20], 'Salario' : [10,20,30,40,50]}  
  
# Create DataFrame  
df = pd.DataFrame(data)  
  
# Print the output.  
print(df)

     Name  Age  Salario
0     Tom   20       10
1  Joseph   21       20
2   Krish   19       30
3    John   18       40
4     Tom   20       50

# Achando os duplicados em algumas colunas (chave primaria)

In [23]:
df.duplicated(['Name','Age'],keep=False)

0     True
1    False
2    False
3    False
4     True
dtype: bool

In [24]:
df.duplicated()

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [26]:
df[df.duplicated(['Name','Age'],keep=False)]

  Name  Age  Salario
0  Tom   20       10
4  Tom   20       50

In [28]:
len(df[df.duplicated(['Name','Age'])])

1